---
import QuarterNavigation from "@/components/QuarterNavigation";
import RoadmapCard from "@/components/roadmap/roadmap-card.astro";
import YearSelector from "@/components/roadmap/YearSelector";
import TopMargin from "@/components/ui/top-margin.astro";
import Layout from "@/layouts/layout.astro";
import type { CollectionEntry } from "astro:content";
const title = `Akash Network Roadmap`;
type Roadmap = CollectionEntry<"aeps">;
type Props = {
  year: number;
  quarters: {
    Q1: any[];
    Q2: any[];
    Q3: any[];
    Q4: any[];
  };
  years: number[];
};

const { year, quarters, years } = Astro.props;
---

<Layout title={`${title} - ${year}`}>
  <TopMargin className=" flex flex-col " isNotContainer>
    <section class="container-reader w-full">
      <div class="max-w-2xl">
        <h1 class="text-3xl font-semibold">{title}</h1>
        <p class="mt-6">
          Akash's roadmap outlines the high-level goals and priorities for the
          Akash Network.
        </p>
      </div>
    </section>
    <section
      class="container-reader sticky top-[57px] z-[20] w-full bg-background pb-6 md:top-[43px]"
    >
      <YearSelector years={years} currentYear={year} client:load />
    </section>
    <section
      class="md:container-reader flex w-full flex-col gap-6 md:mt-14 md:flex-row md:gap-14"
    >
      <QuarterNavigation client:load quarters={quarters} />
      <div
        class="relative w-full border-[#F0F1F2] px-5 pb-44 dark:border-[#2E2E2E] md:border-l md:px-0"
      >
        <div
          class="absolute -top-8 left-5 right-0 flex h-full bg-line-dashed bg-center bg-repeat-y dark:bg-line-dashed-dark md:-top-3 md:left-0 md:right-auto md:w-full"
        >
        </div>
        <div
          class="relative z-[1] flex flex-col gap-6 border-l border-[#F0F1F2] md:gap-10 md:border-l-0 md:pt-10"
        >
          {
            Object.entries(quarters).map(
              ([quarter, roadmaps]) =>
                roadmaps.length > 0 && (
                  <div
                    class="flex w-full flex-col gap-6 md:-ml-3 md:flex-row md:gap-10"
                    data-quarter={quarter}
                  >
                    <div class="flex w-full flex-col gap-10  ">
                      {roadmaps.map((roadmap) => (
                        <div class="flex flex-col items-start gap-4 md:flex-row md:gap-10  ">
                          <div class="-ml-3 flex items-center gap-3 md:ml-0  md:pt-6">
                            <div class="flex min-h-6 min-w-6 items-center justify-center rounded-full bg-badgeColor">
                              <div class="size-1.5 rounded-full bg-black dark:bg-white" />
                            </div>
                            <p class="whitespace-nowrap text-sm font-medium text-[#7E868C99] dark:text-para">
                              {roadmap.slug.split("/")[0]}
                            </p>
                          </div>

                          <RoadmapCard roadmap={roadmap} />
                        </div>
                      ))}
                    </div>
                  </div>
                ),
            )
          }
        </div>
      </div>
    </section>
  </TopMargin>
</Layout>
