---
import TableOfContents from "@/components/docs/table-of-contents";
import NextPrevNav from "@/components/docs/next-prev-nav.astro";
import DocsLayout from "@/layouts/docs-layout.astro";
import generateToc from "@/lib/generateToc";
import { getCollection, type CollectionEntry } from "astro:content";
import MobileNav from "@/components/docs/mobile-sidebar.tsx";
import MobileTableOfContents from "@/components/docs/mobile-table-of-contents.tsx";

import Search from "@/components/docs/search-dialog.tsx";
import { generateDocsNav } from "@/lib/docs/generate-nav/docs-nav";
import { findPrevAndNextPages } from "@/lib/docs/findPrevAndNextPages";
import { proseClasses } from "@/lib/prose-classes";

export async function getStaticPaths() {
  const pages = await getCollection("Docs");

  return pages.map((page) => ({
    params: { slug: page.slug },
    props: page,
  }));
}

type Props = CollectionEntry<"Docs">;

const page = Astro.props;

const { Content, headings } = await page.render();

const pathname = new URL(Astro.request.url).pathname;

const catName = pathname
  .split("/")
  [pathname.split("/").length - 2].split("-")
  .map((word: any) => word.charAt(0).toUpperCase() + word.slice(1))
  .join(" ");

const pages = await getCollection("Docs");
console.log(headings);

const nav = generateDocsNav(pages);
---

<DocsLayout
  title={`${page.data.title} | Akash Network Documentation - Your Guide to Decentralized Cloud`}
  description="Access comprehensive documentation to guide you through using Akash Network. Find detailed instructions, FAQs, and resources for a seamless experience."
>
  <div
    class="sticky top-0 z-10 -mt-4 mb-10 h-[130px] bg-background pt-4 md:hidden"
  >
    <div>
      <Search client:load currentPath={pathname} />
    </div>

    <div class="my-4 border-b"></div>

    <div class="">
      <div class="flex items-center gap-x-3">
        <MobileNav
          client:load
          catName={catName}
          docsNav={nav}
          pathname={pathname}
        />

        <MobileTableOfContents
          client:load
          toc={generateToc(headings, "Overview")}
          labels={{
            onThisPage: "On this page",
            title: catName,
          }}
        />
      </div>
    </div>
  </div>
  <div class="-mt-2">
    <div class="grid grid-cols-12 gap-5">
      <div class="col-span-12 lg:col-span-9">
        <h1
          class="text-2lg font-bold leading-none md:text-[36px] md:font-medium"
          id="overview"
        >
          {page.data.title}
        </h1>
        <div class="mt-5 hidden md:block lg:hidden">
          <MobileTableOfContents
            client:load
            toc={generateToc(headings, "Overview")}
            labels={{
              onThisPage: "On this page",
            }}
          />
        </div>

        <div class="my-5 border-b md:my-10"></div>

        <article class={proseClasses}>
          <Content />
        </article>

        <NextPrevNav nav={findPrevAndNextPages(nav, pathname)} />
      </div>

      <aside
        class="sidebar-scroll sticky top-[150px] hidden h-screen overflow-auto pb-56 lg:col-span-3 lg:block"
      >
        <div class="h-fit border-l pl-5">
          <p class="text-base font-bold">ON THIS PAGE</p>

          <div class="mt-6">
            <TableOfContents
              client:load
              toc={generateToc(headings, "Overview")}
              labels={{
                onThisPage: "onThisPage",
              }}
            />
          </div>
        </div>
      </aside>
    </div>
  </div>
</DocsLayout>
