---
import MobileNav from "@/components/docs/mobile-sidebar.tsx";
import MobileTableOfContents from "@/components/docs/mobile-table-of-contents.tsx";
import NextPrevNav from "@/components/docs/next-prev-nav.astro";
import TableOfContents from "@/components/docs/table-of-contents";
import DocsLayout from "@/layouts/docs-layout.astro";
import generateToc from "@/lib/generateToc";
import { getCollection, type CollectionEntry } from "astro:content";

import AlgoliaSearch from "@/components/docs/algolia-search";
import { docsProseClasses } from "@/lib/docs-prose-classes";
import { findPrevAndNextPages } from "@/lib/docs/findPrevAndNextPages";
import { generateDocsNav } from "@/lib/docs/generate-nav/docs-nav";

export async function getStaticPaths() {
  const pages = await getCollection("Docs");

  return pages.map((page: CollectionEntry<"Docs">) => ({
    params: { slug: page.slug },
    props: page,
  }));
}

type Props = CollectionEntry<"Docs">;

const page: Props = Astro.props;

const { Content, headings } = await page.render();

const pathname = new URL(Astro.request.url).pathname;

const catName = pathname
  .split("/")
  [pathname.split("/").length - 2].split("-")
  .map((word: string) => word.charAt(0).toUpperCase() + word.slice(1))
  .join(" ");

const pages = await getCollection("Docs");

const nav = generateDocsNav(pages);

const lines = page?.body
  ?.split("\n")
  ?.filter((line: string) => line.trim() !== "" && !line.includes("##"));
---

<!-- replace [name](link) with name -->
<DocsLayout
  title={`${page.data.title} | Akash Network - Your Guide to Decentralized Cloud`}
  description={lines?.length > 0
    ? lines?.[0]?.replace(/\[([^\]]+)\]\(([^)]+)\)/g, "$1")
    : "Access comprehensive documentation to guide you through using Akash Network. Find detailed instructions, FAQs, and resources for a seamless experience."}
  image="/meta-images/docs.png"
>
  <div
    class="sticky top-0 z-10 -mt-4 mb-10 h-[130px] bg-background pt-4 md:hidden"
  >
    <div>
      <AlgoliaSearch client:only />
    </div>

    <div class="my-4 border-b"></div>

    <div class="">
      <div class="flex items-center gap-x-3">
        <MobileNav
          client:load
          catName={catName}
          docsNav={nav}
          pathname={pathname}
        />

        <MobileTableOfContents
          client:load
          toc={generateToc(headings, "Overview")}
          labels={{
            onThisPage: "On this page",
            title: catName,
          }}
        />
      </div>
    </div>
  </div>
  <div class="-mt-2">
    <div class="grid grid-cols-12 gap-5">
      <div class="col-span-12 lg:col-span-9">
        <h1
          class="text-3xl md:text-4xl md:font-medium lg:text-5xl"
          id="overview"
        >
          {page.data.title}
        </h1>
        <div class="mt-5 hidden md:block lg:hidden">
          <MobileTableOfContents
            client:load
            toc={generateToc(headings, "Overview")}
            labels={{
              onThisPage: "On this page",
            }}
          />
        </div>

        <div class="my-5 border-b md:my-10"></div>

        <article class={docsProseClasses}>
          <Content />
        </article>
        <div class="mt-5 border-y py-5 md:mt-10 md:px-2">
          <a
            target="_blank"
            class="flex items-center gap-2 text-xs font-medium hover:text-primary"
            href={`https://github.com/akash-network/website-revamp/tree/main/src/content/Docs/${page.slug}`}
          >
            <svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M2 14L8 14L14 14"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M8.15049 3.88559L10.0361 1.99997L13.3359 5.2998L11.4503 7.18542M8.15049 3.88559L4.51039 7.52569C4.32285 7.71323 4.21749 7.96758 4.21749 8.2328L4.21749 11.1184L7.10311 11.1184C7.36833 11.1184 7.62268 11.0131 7.81022 10.8255L11.4503 7.18542M8.15049 3.88559L11.4503 7.18542"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
            Edit page on github
          </a>
        </div>
        <NextPrevNav nav={findPrevAndNextPages(nav, pathname)} />
      </div>

      <aside
        class="sidebar-scroll sticky top-[150px] hidden h-screen overflow-auto pb-56 lg:col-span-3 lg:block"
      >
        <div class="h-fit border-l pl-5">
          <p class="text-base font-bold">ON THIS PAGE</p>

          <div class="mt-6">
            <TableOfContents
              client:load
              toc={generateToc(headings, "Overview")}
              labels={{
                onThisPage: "onThisPage",
              }}
            />
          </div>
        </div>
      </aside>
    </div>
  </div>
</DocsLayout>
