---
interface CardProps {
  icon: string;
  title: string;
  description: string;
  link: string;
  linkLabel: string;
}

const cards: CardProps[] = [
  {
    icon: `<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12 16L14.6667 18.6667L20 13.3334M5.13335 11.4934C4.93873 10.6168 4.96862 9.70517 5.22022 8.84317C5.47183 7.98116 5.93701 7.19664 6.57264 6.56234C7.20827 5.92805 7.99376 5.46451 8.85629 5.21471C9.71882 4.96491 10.6305 4.93694 11.5067 5.13338C11.989 4.37912 12.6534 3.75839 13.4386 3.32843C14.2239 2.89847 15.1047 2.6731 16 2.6731C16.8953 2.6731 17.7761 2.89847 18.5614 3.32843C19.3467 3.75839 20.0111 4.37912 20.4933 5.13338C21.3709 4.93608 22.2841 4.96393 23.148 5.21433C24.0119 5.46474 24.7985 5.92957 25.4345 6.56559C26.0705 7.2016 26.5353 7.98815 26.7857 8.85205C27.0361 9.71596 27.064 10.6292 26.8667 11.5067C27.6209 11.989 28.2417 12.6534 28.6716 13.4387C29.1016 14.2239 29.327 15.1048 29.327 16C29.327 16.8953 29.1016 17.7762 28.6716 18.5614C28.2417 19.3467 27.6209 20.0111 26.8667 20.4934C27.0631 21.3696 27.0352 22.2812 26.7854 23.1438C26.5356 24.0063 26.072 24.7918 25.4377 25.4274C24.8034 26.0631 24.0189 26.5282 23.1569 26.7798C22.2949 27.0314 21.3833 27.0613 20.5067 26.8667C20.025 27.6239 19.3601 28.2473 18.5735 28.6791C17.7869 29.111 16.904 29.3375 16.0067 29.3375C15.1093 29.3375 14.2264 29.111 13.4398 28.6791C12.6532 28.2473 11.9883 27.6239 11.5067 26.8667C10.6305 27.0632 9.71882 27.0352 8.85629 26.7854C7.99376 26.5356 7.20827 26.0721 6.57264 25.4378C5.93701 24.8035 5.47183 24.0189 5.22022 23.1569C4.96862 22.2949 4.93873 21.3833 5.13335 20.5067C4.37329 20.0257 3.74723 19.3603 3.31341 18.5723C2.87959 17.7844 2.6521 16.8995 2.6521 16C2.6521 15.1006 2.87959 14.2157 3.31341 13.4278C3.74723 12.6398 4.37329 11.9744 5.13335 11.4934Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
`,
    title: "Apply to the Akash Insiders",
    description:
      "Akash Insiders are community leaders driving growth, innovation, and support across the Akash Network.",
    link: "/community/akash-insiders/",
    linkLabel: "Learn More",
  },
  {
    icon: `<svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M19.2652 12.6288V4.81533C19.2652 3.62863 18.3032 2.66663 17.1165 2.66663V2.66663C15.9298 2.66663 14.9678 3.62863 14.9678 4.81533V11.2614" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
<path d="M22.1947 17.1214L25.0957 7.45145C25.4341 6.32349 24.7849 5.1366 23.6525 4.81308V4.81308C22.5258 4.49116 21.3523 5.14783 21.0373 6.27654L19.2646 12.6286" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
<path d="M10.5592 12.3332L11.9666 15.4551C12.4529 16.5338 11.9755 17.8027 10.8988 18.2934C9.81584 18.7869 8.53802 18.3062 8.04891 17.2212L6.64152 14.0993C6.15522 13.0206 6.63258 11.7517 7.70931 11.261C8.79226 10.7675 10.0701 11.2482 10.5592 12.3332Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
<path d="M16.0256 16.3487L16.0484 16.2855C16.3067 15.5694 16.2762 14.7809 15.9634 14.0869L14.5049 10.8517C14.0241 9.78527 12.7682 9.31276 11.7037 9.79785V9.79785C10.6196 10.2919 10.1585 11.5845 10.6851 12.6532L10.8659 13.0202" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
<path d="M18.8756 23.569L19.5629 22.1943C19.6119 22.0964 19.5604 21.9779 19.4553 21.947L14.6538 20.5348C13.7048 20.2557 13.0907 19.3384 13.1942 18.3547V18.3547C13.3117 17.2389 14.3046 16.4252 15.4217 16.5291L21.8056 17.1229C21.8056 17.1229 26.8844 17.9043 25.1264 22.983C23.3683 28.0618 22.7823 29.8198 18.8756 29.8198C16.3362 29.8198 12.6248 29.8198 12.6248 29.8198H12.2341C9.10556 29.8198 6.56936 27.2836 6.56936 24.155V24.155L6.37402 13.2162" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
</svg>
`,
    title: "Contribute to Akash Network",
    description:
      "The Akash Network thrives on its diverse community of users, contributors, and supporters, collaboratively managing everything from code to culture.",
    link: "/development/welcome/",
    linkLabel: "Learn More",
  },
  {
    icon: `<svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M16.8 29.3333H7.46672C6.00005 29.3333 4.80005 28.1333 4.80005 26.6666V7.99996C4.80005 7.29272 5.081 6.61444 5.5811 6.11434C6.08119 5.61424 6.75947 5.33329 7.46672 5.33329H26.1334C26.8406 5.33329 27.5189 5.61424 28.019 6.11434C28.5191 6.61444 28.8 7.29272 28.8 7.99996V13.3333H4.80005M22.1334 2.66663V7.99996M11.4667 2.66663V7.99996M29.1867 19.6C28.7324 19.1479 28.1542 18.8407 27.5252 18.7173C26.8963 18.5939 26.2449 18.6598 25.6534 18.9066C25.2534 19.0666 24.8934 19.3066 24.5867 19.6133L24.1334 20.0666L23.6667 19.6133C23.2139 19.159 22.6364 18.8493 22.0073 18.7235C21.3783 18.5977 20.7261 18.6614 20.1334 18.9066C19.7334 19.0666 19.3867 19.3066 19.08 19.6133C17.8134 20.8666 17.7467 22.9866 19.3467 24.6L24.1334 29.3333L28.9334 24.6C30.5334 22.9866 30.4534 20.8666 29.1867 19.6133V19.6Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
`,
    title: "Attend Akash Events",
    description: "Join one of our upcoming events around the world.",
    link: "/community/events/",
    linkLabel: "Learn More",
  },
  {
    icon: `<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.19995 9L6.53328 11.6667L9.19995 14.3333M14.5333 14.3333L17.2 11.6667L14.5333 9M25.2 25L19.4666 19.2667M22.5333 11.6667C22.5333 17.5577 17.7577 22.3333 11.8666 22.3333C5.97558 22.3333 1.19995 17.5577 1.19995 11.6667C1.19995 5.77563 5.97558 1 11.8666 1C17.7577 1 22.5333 5.77563 22.5333 11.6667Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
`,
    title: "Review Akash Community Contributions",
    description:
      "The Akash Network is open source, offering financial rewards for individual or team contributions.",
    link: "#",
    linkLabel: "Learn More",
  },
  {
    icon: `<svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M29.9333 13.3333V21.3333M29.9333 13.3333L16.5999 6.66663L3.2666 13.3333L16.5999 20L29.9333 13.3333ZM8.59993 16V22.6666C12.5999 26.6666 20.5999 26.6666 24.5999 22.6666V16" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
`,
    title: "Join Akash EDU",
    description:
      "Master cloud infrastructure with our free, community-driven program, empowering developers to shape the future of AI and cloud technologies.",
    link: "/community/akash-edu/",
    linkLabel: "Learn More",
  },
];
---

<section
  id="join-us"
  class="mx-auto mb-[66px] flex max-w-7xl flex-col items-center justify-center px-6 md:mb-[96px] xl:px-0"
>
  <div>
    <h2 class="text-center text-2xl font-semibold">Join the Movement</h2>
    <p class="mt-3 text-center text-sm">
      Be part of the Akash Network community. Connect, contribute, and
      collaborate to shape the future of decentralized cloud computing.
    </p>
  </div>

  <div
    class="mt-10 flex w-full grid-cols-1 gap-6 overflow-x-auto sm:grid-cols-2 md:grid lg:grid-cols-5"
  >
    {
      cards.map((card) => (
        <div class="flex h-[352px] min-w-[232px] flex-col rounded-lg border bg-background2 p-6 shadow-sm md:h-full md:min-w-[unset]">
          <div class="flex size-12 items-center justify-center rounded-lg border border-paraDark bg-background">
            <div set:html={card.icon} />
          </div>

          <div class="mt-5 flex flex-1 flex-col">
            <h3 class="text-base font-semibold">{card.title}</h3>
            <p class="mt-3 flex-grow text-sm font-medium leading-[20px] text-[#7E868C] md:mt-4">
              {card.description}
            </p>
            <div class="mt-auto pt-5">
              <a
                href={card.link}
                class=" inline-flex items-center text-sm font-medium hover:text-primary hover:underline"
              >
                {card.linkLabel}
                <svg
                  class="ml-1 h-4 w-4"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M9 5l7 7-7 7"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>
