---
import { ArrowUpCircle } from "lucide-react";
import ButtonLink from "../ui/button-link.astro";

interface Props {
  tags: string[];
}

const { tags } = Astro.props;
const astroUrl = Astro.url;
const pathName = astroUrl.pathname.split("/");
const isDeployedOnAkash = pathName.includes("deployed-on-akash");
const currentCategory = decodeURIComponent(astroUrl?.pathname?.split("/")?.[3]);

const sortedTags = [
  ...tags.filter((tag) => tag.toLowerCase().includes("ai")),
  ...tags.filter((tag) => !tag.toLowerCase().includes("ai")),
];

const getCategoryLink = (category?: string) => {
  return `/ecosystem/${pathName[2]}${category ? `/${category}` : "/"}`;
};

const isActiveLink = (path: string) => {
  return path === astroUrl.pathname ? "text-primary" : "text-para";
};
---

<aside class="hidden w-[200px] flex-shrink-0 pt-5 lg:block">
  <header>
    <h2 class="text-sm font-medium leading-[20px] text-cardGray">Categories</h2>
    <div class="border-b pb-2"></div>
  </header>

  <nav class="mt-4 flex flex-col gap-y-4">
    <a
      href={getCategoryLink()}
      class:list={[
        "inline-flex cursor-pointer text-base hover:text-primary",
        isActiveLink(getCategoryLink()),
      ]}
    >
      All
    </a>

    {
      isDeployedOnAkash && (
        <a
          href={getCategoryLink("showcase")}
          class:list={[
            "inline-flex cursor-pointer text-base hover:text-primary",
            astroUrl.pathname?.includes("showcase")
              ? "text-primary"
              : "text-para",
          ]}
        >
          Showcase
        </a>
      )
    }

    {
      sortedTags.map((tag: string) => (
        <a
          href={getCategoryLink(tag.toLowerCase())}
          class:list={[
            "inline-flex cursor-pointer text-base hover:text-primary",
            currentCategory === tag.toLowerCase()
              ? "text-primary"
              : "text-para",
          ]}
        >
          {tag}
        </a>
      ))
    }
  </nav>

  {
    isDeployedOnAkash && (
      <section class="mt-10">
        <div class="border-b" />
        <p class="pt-8 text-sm font-medium text-para">
          Are you using Akash Network for your project?
        </p>

        <ButtonLink
          link="https://github.com/akash-network/website-revamp?tab=readme-ov-file#how-to-contribute-a-project-to-the-ecosystem"
          className="mt-4"
          variant="secondary"
        >
          <ArrowUpCircle className="w-4 rotate-45" />
          <span class="ml-1 line-clamp-1 text-left">Add to Ecosystem</span>
        </ButtonLink>
      </section>
    )
  }
</aside>
