---
import { ArrowUpCircle } from "lucide-react";
import ButtonLink from "../ui/button-link.astro";
const astroUrl = Astro.url;
type Props = {
  tags: string[];
};
const pathName = astroUrl.pathname.split("/");
const { tags } = Astro.props;

const normalizedTags = [...new Set(tags.map((tag) => tag.toLowerCase()))];

const aiMlTag = normalizedTags?.find((tag) => tag === "ai & ml")
  ? ["ai & ml"]
  : [];
const sortedTags = [
  ...aiMlTag,
  ...normalizedTags
    .filter((tag) => tag !== "ai & ml")
    .sort((a, b) => a.localeCompare(b)),
];

const displayTag = (tag: string) => {
  const specialCases: Record<string, string> = {
    dao: "DAO",
    "pos validator": "PoS Validator",
    "ai & ml": "AI & ML",
  };

  return (
    specialCases[tag.toLowerCase()] ||
    tag
      .split(" ")
      .map((word) => word.charAt(0).toUpperCase() + word.slice(1))
      .join(" ")
  );
};
---

<div class="hidden w-[200px] flex-shrink-0 pt-5 lg:block">
  <p class="text-sm font-medium leading-[20px] text-cardGray">Categories</p>

  <div class="border-b pb-2"></div>

  <div class="mt-4 flex flex-col gap-y-4">
    <a
      href={`/ecosystem/${pathName?.[2]}/`}
      class={`inline-flex cursor-pointer text-base  hover:text-primary ${
        astroUrl.pathname === `/ecosystem/${pathName?.[2]}/`
          ? "text-primary"
          : "text-para"
      }`}
    >
      All
    </a>
    {
      astroUrl.pathname.includes("deployed-on-akash") && (
        <a
          href={`/ecosystem/${pathName?.[2]}/showcase/`}
          class={`inline-flex cursor-pointer text-base  hover:text-primary ${
            astroUrl.pathname?.includes("showcase")
              ? "text-primary"
              : "text-para"
          }`}
        >
          Showcase
        </a>
      )
    }
    {
      sortedTags.map((tag: string) => (
        <a
          href={`/ecosystem/${pathName?.[2]}/${tag.toLowerCase()}`}
          class={`inline-flex cursor-pointer text-base  hover:text-primary ${
            astroUrl?.pathname
              ?.split("/")?.[3]
              ?.split("%20")
              ?.join(" ")
              ?.toLowerCase() === tag?.toLowerCase()
              ? "text-primary"
              : "text-para"
          }`}
        >
          {displayTag(tag)}
        </a>
      ))
    }
  </div>

  {
    pathName.includes("deployed-on-akash") && (
      <div class="">
        <div class="my-8 border-b pb-2" />
        <p class="text-sm font-medium text-para">
          Are you using Akash Network for your project?
        </p>

        <ButtonLink
          link="https://github.com/akash-network/website-revamp?tab=readme-ov-file#how-to-contribute-a-project-to-the-ecosystem"
          className="mt-4"
          variant="secondary"
        >
          <ArrowUpCircle className="w-4 rotate-45" />
          <span class="ml-1 line-clamp-1 text-left">Add to Ecosystem</span>
        </ButtonLink>
      </div>
    )
  }
</div>
