---
import { ArrowUpCircle } from "lucide-react";
import ButtonLink from "../ui/button-link.astro";

interface Props {
  tags: string[];
}

const { tags } = Astro.props;
const astroUrl = Astro.url;
const pathName = astroUrl.pathname.split("/");
const isDeployedOnAkash = pathName.includes("deployed-on-akash");
const currentCategory = decodeURIComponent(astroUrl?.pathname?.split("/")?.[3]);

const sortedTags = [
  ...tags.filter((tag) => tag.toLowerCase().includes("ai")),
  ...tags.filter((tag) => !tag.toLowerCase().includes("ai")),
];

const getCategoryLink = (category?: string) => {
  return `/ecosystem/${pathName[2]}${category ? `/${category}` : "/"}`;
};
---

<aside class="hidden w-[180px] flex-shrink-0 lg:block">
  <p class="mb-3 text-xs font-semibold uppercase tracking-widest text-cardGray">
    Categories
  </p>

  <nav class="flex flex-col gap-y-0.5">
    <a
      href={getCategoryLink()}
      class:list={[
        "rounded-lg px-4 py-2 text-sm leading-normal transition-colors hover:bg-background2 hover:text-foreground",
        astroUrl.pathname === getCategoryLink()
          ? "bg-background2 font-medium text-foreground"
          : "font-normal text-para",
      ]}
    >
      All
    </a>

    {
      isDeployedOnAkash && (
        <a
          href={getCategoryLink("showcase")}
          class:list={[
            "rounded-lg px-4 py-2 text-sm leading-normal transition-colors hover:bg-background2 hover:text-foreground",
            astroUrl.pathname?.includes("showcase")
              ? "bg-background2 font-medium text-foreground"
              : "font-normal text-para",
          ]}
        >
          Showcase
        </a>
      )
    }

    {
      sortedTags.map((tag: string) => (
        <a
          href={getCategoryLink(tag.toLowerCase())}
          class:list={[
            "rounded-lg px-4 py-2 text-sm leading-normal transition-colors hover:bg-background2 hover:text-foreground",
            currentCategory === tag.toLowerCase()
              ? "bg-background2 font-medium text-foreground"
              : "font-normal text-para",
          ]}
        >
          {tag}
        </a>
      ))
    }
  </nav>

  {
    isDeployedOnAkash && (
      <section class="mt-6">
        <p class="text-xs text-para">
          Are you using Akash Network for your project?
        </p>
        <ButtonLink
          link="https://github.com/akash-network/website-revamp?tab=readme-ov-file#how-to-contribute-a-project-to-the-ecosystem"
          className="mt-3"
          variant="secondary"
        >
          <ArrowUpCircle className="w-4 rotate-45" />
          <span class="ml-1 line-clamp-1 text-left">Add to Ecosystem</span>
        </ButtonLink>
      </section>
    )
  }
</aside>
