---
import Layout from "@/layouts/layout.astro";
import { getCollection, getEntry } from "astro:content";
import ButtonLink from "../../../components/ui/button-link.astro";

import EventCard from "@/components/community-pages/event-card.astro";
import TopMargin from "@/components/ui/top-margin.astro";

const cards = await getCollection("Community_Akash_Events_Page");
const { data } = await getEntry("Community_Page", "events");
const allCards = cards.map((card) => card.data);
const eventDurationInMilliSeconds = 864000000;
const currentOffsetDateTime = new Date(
  new Date().getTime() - eventDurationInMilliSeconds,
).getTime();

const relevantCards = allCards.filter((curr: any) => {
  if (curr.tbd && curr.eventDate.getFullYear() === new Date().getFullYear()) {
    return true;
  }

  const eventDate = new Date(curr.eventDate).getTime();
  return eventDate > currentOffsetDateTime;
});

const sortedCards = relevantCards.sort((a, b) => {
  if (a.tbd) {
    return 1;
  }
  if (b.tbd) {
    return -1;
  }

  return new Date(a.eventDate).getTime() - new Date(b.eventDate).getTime();
});
---

<Layout
  title={data?.title}
  image="/meta-images/community.png"
  image="/meta-images/community.png"
  description={data?.description}
>
  <TopMargin>
    <div>
      <div>
        <div class="mx-auto mt-10 text-center md:mt-0">
          <h1 id="overview" class="text-3xl md:text-4xl lg:text-5xl">
            {data?.title}
          </h1>
          <p class="mt-3 text-base leading-[24px] text-para">
            {data?.description}
          </p>
        </div>
      </div>

      <div>
        {
          (
            <div class="mt-10 grid grid-cols-1 gap-y-8 sm:grid-cols-2 sm:gap-x-6 lg:grid-cols-3 2xl:grid-cols-4">
              {sortedCards.map((card: any) => (
                <EventCard card={card} />
              ))}
            </div>
          )
        }
        <div class="mt-10 flex justify-center">
          <ButtonLink
            variant="secondary"
            size="xs"
            link={"/community/events/archived/"}
          >
            See past events in the archive
          </ButtonLink>
        </div>
      </div>
    </div>
  </TopMargin>
</Layout>
