---
import { nav } from "@/components/development-pages/nav-config";
import TopMargin from "@/components/ui/top-margin.astro";
import Layout from "@/layouts/layout.astro";
import { proseClasses } from "@/lib/prose-classes";
import type { MarkdownHeading } from "astro";
import { type CollectionEntry, getCollection } from "astro:content";
import clsx from "clsx";

interface NavItem {
  link: string;
  subItems?: {
    label: string;
    link: string;
    enabled: boolean;
  }[];
}

export async function getStaticPaths() {
  const pages = await getCollection("Development_Page");

  return pages.map((page: CollectionEntry<"Development_Page">) => ({
    params: { slug: page.slug },
    props: page,
  }));
}

type Props = CollectionEntry<"Development_Page">;

const page = Astro.props;
console.log(page);

const { Content, headings } = await page.render();

const akashInsidersIndex = nav.findIndex(
  (item: NavItem) => item.link === `/development/${page.slug}/`
);

if (akashInsidersIndex !== -1) {
  const akashInsidersSubItems = headings
    .filter((heading: MarkdownHeading) => heading.depth <= 3)
    .map((heading: MarkdownHeading) => ({
      label: heading.text,
      link: `#${heading.slug}`,
      enabled: true,
    }));

  nav[akashInsidersIndex].subItems = akashInsidersSubItems;
}
---

<Layout
  title={`${page.data.title} - Developer Hub`}
  description={page.data.description}
  image="/meta-images/development.png"
>
  <TopMargin>
    <div class="text-padding container-reader w-full space-y-10">
      <div class="mt-10 md:mt-0">
        <h1
          id="overview"
          class={clsx(
            "text-3xl md:text-4xl lg:text-5xl",
            page?.data?.centeredHeader && "text-center",
            page?.data?.hideHeader && "hidden"
          )}
        >
          {page.data.title}
        </h1>
      </div>

      <article class={proseClasses}>
        <Content />
      </article>
    </div>
  </TopMargin>
</Layout>
