---
import TopMargin from "@/components/ui/top-margin.astro";
import TabsComp from "@/components/welcome-pages/tabs-comp";
import Layout from "@/layouts/layout.astro";
import { getEntry } from "astro:content";

const welcomePage = await getEntry("Community_Welcome_Page", "index");
const { title, description, communityCards, quote } = welcomePage.data;
---

<Layout
  title={title}
  description={description}
  image="/meta-images/community.png"
>
  <!-- Hero Section -->
  <section class="mx-auto max-w-7xl space-y-14 px-4 pb-14 pt-[100px]">
    <div class="flex w-full flex-col items-center justify-center gap-[20px]">
      <h1
        class="text-3xl font-semibold text-[#0a0a0a] md:text-4xl md:leading-snug lg:text-[56px]"
      >
        {title}
      </h1>
      <p class="max-w-4xl text-center leading-relaxed text-darkGrayText">
        {description}
      </p>
    </div>
    <!-- communityCards -->
    <div class="space-y-5">
      <h5 class="text-center text-lg font-medium text-[#0a0a0a]">
        Join the Movement
      </h5>
      <div class="grid w-full grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
        {
          communityCards.map((card) => (
            <div class="space-y-4 rounded-lg border border-[#E4E4E7] p-6 shadow-sm">
              <div class="flex items-center gap-2">
                <div set:html={card.icon} />
                <h3 class="text-base font-semibold text-[#0a0a0a]">
                  {card.title}
                </h3>
              </div>
              <p class="text-sm leading-relaxed text-darkGrayText">
                {card.description}
              </p>
            </div>
          ))
        }
      </div>
    </div>
  </section>
  <!-- Tabs section -->
  <TabsComp client:load />
  <!-- About text -->
  <section
    class="flex w-full flex-col items-center justify-center border-b border-[#E4E4E7] bg-[#fafafa] px-4 py-32"
  >
    <h1
      class="mb-8 max-w-6xl text-center font-instrument text-5xl !font-normal !italic"
    >
      "{quote.text}"
    </h1>
    <div class="flex flex-col items-center gap-2">
      <p class="text-center text-lg font-semibold text-black">{quote.author}</p>
      <p
        class="text-center text-lg font-normal leading-relaxed text-darkGrayText"
      >
        {
          quote.authorTitle.split("-").map((part, index, array) => (
            <>
              {part.trim()}
              {index < array.length - 1 && <br />}
            </>
          ))
        }
      </p>
    </div>
  </section>
</Layout>
