---
import Socials from "@/components/welcome-pages/new-social-page.astro";
import TabsComp from "@/components/welcome-pages/tabs-comp";
import Layout from "@/layouts/layout.astro";
import FAQ from "@/components/welcome-pages/faq-section";
import CTA from "@/components/welcome-pages/cta-section.astro";
import { getEntry } from "astro:content";

const welcomePage = await getEntry("Community_Welcome_Page", "index");
const { title, description, communityCards, quote, faqItems } = welcomePage.data;

---

<Layout
  title={title}
  description={description}
  image="/meta-images/community.png"
>
  <!-- Hero Section -->
  <section class="mx-auto max-w-7xl space-y-14 px-4 pb-14 pt-[100px]">
    <div class="flex w-full flex-col items-center justify-center gap-[20px]">
      <h1
        class="text-3xl !font-semibold text-[#0a0a0a] md:text-4xl md:leading-snug lg:text-[56px]"
      >
        {title}
      </h1>
      <p class="max-w-4xl text-center leading-relaxed text-darkGrayText">
        {description}
      </p>
    </div>
    <!-- communityCards -->
    <div class="space-y-5">
      <h5 class="text-center text-lg font-medium text-[#0a0a0a]">
        Join the Movement
      </h5>
      <div class="grid w-full grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
        {
          communityCards.map((card: any) => (
            <div class="space-y-4 rounded-lg border border-[#E4E4E7] p-6 shadow-sm">
              <div class="flex items-center gap-2">
                <div set:html={card.icon} />
                <h3 class="text-base font-semibold text-[#0a0a0a]">
                  {card.title}
                </h3>
              </div>
              <p class="text-sm leading-relaxed text-darkGrayText">
                {card.description}
              </p>
            </div>
          ))
        }
      </div>
    </div>
  </section>
  <!-- Tabs section -->
  <TabsComp client:load />
  <!-- About text -->
  <section
    class="flex w-full flex-col items-center justify-center space-y-[30px] bg-[#fafafa] py-[120px] border-b border-[#E4E4E7]"
  >
    <h1 class="max-w-[980px] text-center font-instrument text-5xl">
      <span class="!italic">“Bull market, bear market, it doesn't matter.</span> <br/> 495 open-source contributors
      averaging 67 commits per week build Akash regardless of market conditions.
      Akash is the People's Supercloud and I'm credibly proud of the $AKT
      community.”
    </h1>
    <div class="flex flex-col items-center gap-2">
      <p class="text-lg font-semibold text-black/90">Greg Osuri</p>
      <p class="text-center text-[#71717a]">
        Founder of Akash<br />
        Overclock Labs CEO
      </p>
    </div>
  </section>
  <Socials />
  <div class="h-px w-full border-t border-gray-200"></div>
  <FAQ client:load faqItems={faqItems} />
  <div class="h-px w-full border-t border-gray-200"></div>

  <CTA />
</Layout>
