---
import { buyAktIcons } from "./token-icons";

const { ecosystemSection } = Astro.props;
---

<div>
  <div>
    <h2 class="text-center text-2xl font-semibold md:text-2lg">
      {ecosystemSection.title}
    </h2>
    <p class="mt-4 text-center text-xs font-normal md:text-lg">
      {ecosystemSection.description}
    </p>
  </div>

  <div class="mt-[40px] space-y-[60px] md:mt-[60px]">
    {
      ecosystemSection.categories.map(
        (category: {
          title: string;
          items: { title: string; link: string; icon: string }[];
        }) => (
          <div class="space-y-8">
            <div class="flex justify-center">
              <h3 class="inline-flex items-center justify-center rounded-full border border-defaultBorder bg-[#F5F5F5] px-8 py-2 text-base font-medium text-para dark:bg-background2 ">
                {category.title}
              </h3>
            </div>

            <div class="grid  grid-cols-2 gap-4 lg:grid-cols-3">
              {category.items.map((item) => (
                <a
                  href={item.link}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="group flex flex-col items-center justify-center gap-3 rounded-2xl border border-defaultBorder bg-background2 px-2 py-6 text-center transition-all duration-200 hover:border-primary hover:bg-background2/80 md:gap-4 md:px-6 "
                >
                  <div class="h-6 text-foreground transition-colors   duration-200 group-hover:text-primary md:h-7">
                    <Fragment set:html={buyAktIcons[item.icon]} />
                  </div>
                </a>
              ))}
            </div>
          </div>
        )
      )
    }
  </div>
</div>
