---
import { ArrowUpCircle } from "lucide-react";

const { ecosystemSection } = Astro.props;
---

<div>
  <div>
    <h2 class="text-center text-2xl font-semibold md:text-2lg">
      {ecosystemSection.title}
    </h2>
    <p class="mt-4 text-center text-xs font-normal md:text-lg">
      {ecosystemSection.description}
    </p>
  </div>

  <div class="mt-[20px] md:mt-[40px]">
    {
      ecosystemSection.table.map(
        (table: { row: { title: string; link: string }[] }, i: number) => {
          const colsArray = table.row;

          if (i === 0) {
            return (
              <div class="flex w-full justify-between border-b border-defaultBorder   py-[16px] text-base  md:text-lg  lg:text-2xl">
                {colsArray.map((col) => (
                  <h3 class="flex w-full justify-start font-semibold">
                    {col?.title}
                  </h3>
                ))}
              </div>
            );
          } else {
            return (
              <div
                class={`grid w-full grid-cols-3  ${
                  i === ecosystemSection.table.length - 1
                    ? ""
                    : "border-b border-defaultBorder"
                }   py-[14px] md:py-[16px] `}
              >
                {colsArray.map((col, i) => (
                  <a
                    target="_blank"
                    href={col.link}
                    class="group flex w-full cursor-pointer items-center justify-start gap-x-2 "
                  >
                    {col.title !== "" && (
                      <ArrowUpCircle className="w-4 rotate-45 group-hover:text-primary" />
                    )}

                    <p class="text-xs font-medium  text-foreground group-hover:text-primary md:text-base  lg:text-xl">
                      {col.title}
                    </p>
                  </a>
                ))}
              </div>
            );
          }
        }
      )
    }
  </div>
</div>
