---
import { ChevronDownIcon } from "lucide-react";
import { DocsNav, HomeButton } from "./docs-nav";

const { nav, providersNav } = Astro.props;

const pathname = new URL(Astro.request.url).pathname;
---

<aside
  id="docs-sidebar"
  class="sidebar-scroll sticky top-[86px] h-[calc(100dvh-86px)] w-[220px] flex-shrink-0 overflow-y-auto border-r py-3 pr-5 lg:w-[281px]"
  style="scroll-behavior: auto;"
>
  <div class="flex flex-col">
    <div class="mb-2">
      <HomeButton pathname={pathname} client:load />
    </div>

    <div>
      <DocsNav
        client:only
        docsNav={nav}
        providersNav={providersNav}
        pathName={pathname}
      >
        <div class="hidden flex-col gap-2 md:flex" slot="fallback">
          {
            nav?.[0]?.subItems?.map((navItem: any, i: any) => (
              <>
                {i === 0 && (
                  <p class="mt-6 border-t py-6 text-xs font-bold uppercase">
                    User Docs
                  </p>
                )}
                <div
                  class={`flex w-full cursor-pointer items-center justify-between gap-x-2   ${"px-2"}   py-1 text-sm font-medium`}
                >
                  <p class="flex-1 text-left group-hover:text-primary group-hover:dark:text-white">
                    {navItem.label}
                  </p>
                  <ChevronDownIcon className=" w-4 text-para" />
                </div>
              </>
            ))
          }
        </div>
      </DocsNav>
    </div>

    <div class="my-6 border-b"></div>

    <div>
      <a
        href="/support/"
        class={`flex cursor-pointer items-center gap-x-2 rounded-[4px] px-2 py-1 text-sm font-medium leading-[20px]  hover:bg-primary/10  ${
          pathname === "/support/"
            ? "bg-primary/10 text-foreground"
            : "text-para"
        }`}
      >
        Support</a
      >
    </div>
  </div>
</aside>
