---
import { ArrowUpCircle, Youtube } from "lucide-react";
import ButtonLink from "../ui/button-link.astro";
import { acc2025 } from "./acc-2025";

const links = {
  x: "https://twitter.com/akashnet",
  discord: "https://discord.com/invite/akash",
  youtube: "https://www.youtube.com/c/AkashNetwork",
  github: "https://github.com/akash-network",
};
---

<section class="flex flex-col lg:flex-row">
  <div class="flex w-full flex-1 items-center justify-center bg-[#0c0909]">
    <img
      src="/images/acc-2025/hero2.png"
      alt="Akash Accelerate 2025 Information"
      class="aspect-[16/13] object-contain"
    />
  </div>
  <div
    class="flex aspect-[16/15] w-full flex-1 flex-col justify-between gap-10 px-4 py-10 md:aspect-video md:px-10 lg:aspect-auto"
  >
    <div class="flex flex-col gap-7 md:gap-9">
      <h2 class="text-3xl font-semibold !leading-[1.2] md:text-4xl xl:text-5xl">
        Stay in touch about <br />
        Akash Accelerate 2025
      </h2>

      <ButtonLink
        link={acc2025.subscribe}
        variant="primary"
        size="xl"
        className=" mr-auto flex  gap-2  !rounded  !px-6 !py-2 font-jetBrainsMono font-normal tracking-wide  md:!py-3   md:text-xl "
      >
        <ArrowUpCircle className="size-5 rotate-45 md:size-6" />
        Subscribe Now
      </ButtonLink>
    </div>

    <div class="flex flex-col gap-2 md:gap-5">
      <h3 class="font-jetBrainsMono text-lg font-thin md:text-2xl">
        Connect with Akash
      </h3>
      <div class="flex gap-1.5">
        <a
          href={links.x}
          class="flex size-12 items-center justify-center rounded-full border !border-white text-white transition-all hover:bg-white hover:text-black md:size-[60px]"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg
            class="size-5 md:size-7"
            viewBox="0 0 34 34"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11.6059 7H6.99982L21.3938 26H25.9998L11.6059 7Z"
              stroke="currentColor"
              strokeWidth="2.4"
              strokeLinejoin="round"></path>
            <path
              d="M26.8878 7.80721C27.3336 7.31682 27.2974 6.55788 26.807 6.11207C26.3166 5.66626 25.5577 5.7024 25.1119 6.19279L26.8878 7.80721ZM25.1119 6.19279L17.8042 14.2313L19.5801 15.8457L26.8878 7.80721L25.1119 6.19279Z"
              fill="currentColor"></path>
            <path
              d="M14.3075 18.6924L7.73059 26.0001"
              stroke="currentColor"
              strokeWidth="2.4"
              strokeLinecap="round"
              strokeLinejoin="round"></path>
          </svg>
        </a>
        <a
          href={links.discord}
          class="flex size-12 items-center justify-center rounded-full border !border-white text-white transition-all hover:bg-white hover:text-black md:size-[60px]"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg
            class="size-5 md:size-7"
            viewBox="0 0 34 34"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.6106 21.7227C14.8735 24.8541 18.6312 24.8541 24.8941 21.7227"
              stroke="currentColor"
              strokeWidth="2.4"
              strokeLinecap="round"
              strokeLinejoin="round"></path>
            <path
              d="M21.1341 23.6097L22.3866 26.1149C22.3866 26.1149 27.6115 24.4511 29.2758 21.7308C29.2758 20.4783 29.9398 11.5266 25.5181 8.57881C23.6392 7.32624 20.5078 6.69995 20.5078 6.69995L19.2552 9.2051H16.7501"
              stroke="currentColor"
              strokeWidth="2.4"
              strokeLinecap="round"
              strokeLinejoin="round"></path>
            <path
              d="M12.4053 23.6097L11.1527 26.1149C11.1527 26.1149 5.92782 24.4511 4.26356 21.7308C4.26356 20.4783 3.59958 11.5266 8.02128 8.57881C9.90015 7.32624 13.0316 6.69995 13.0316 6.69995L14.2842 9.2051H16.7893"
              stroke="currentColor"
              strokeWidth="2.4"
              strokeLinecap="round"
              strokeLinejoin="round"></path>
            <path
              d="M12.3652 19.2217C11.3276 19.2217 10.4864 18.1001 10.4864 16.7166C10.4864 15.333 11.3276 14.2114 12.3652 14.2114C13.4029 14.2114 14.2441 15.333 14.2441 16.7166C14.2441 18.1001 13.4029 19.2217 12.3652 19.2217Z"
              stroke="currentColor"
              strokeWidth="2.4"
              strokeLinecap="round"
              strokeLinejoin="round"></path>
            <path
              d="M21.1394 19.2217C20.1017 19.2217 19.2605 18.1001 19.2605 16.7166C19.2605 15.333 20.1017 14.2114 21.1394 14.2114C22.1771 14.2114 23.0182 15.333 23.0182 16.7166C23.0182 18.1001 22.1771 19.2217 21.1394 19.2217Z"
              stroke="currentColor"
              strokeWidth="2.4"
              strokeLinecap="round"
              strokeLinejoin="round"></path>
          </svg>
        </a>
        <a
          href={links.github}
          class="flex size-12 items-center justify-center rounded-full border !border-white text-white transition-all hover:bg-white hover:text-black md:size-[60px]"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg
            class="size-5 md:size-7"
            viewBox="0 0 34 34"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13.7007 24.8315C8.20017 26.4817 8.20017 22.0813 5.99994 21.5312M21.4015 28.1319V23.8744C21.4428 23.3499 21.3719 22.8225 21.1936 22.3274C21.0153 21.8324 20.7337 21.3809 20.3674 21.0031C23.8218 20.6181 27.4522 19.309 27.4522 13.3023C27.4519 11.7664 26.8611 10.2893 25.802 9.17691C26.3035 7.83312 26.268 6.3478 25.703 5.02948C25.703 5.02948 24.4049 4.64444 21.4015 6.65765C18.8801 5.97428 16.2222 5.97428 13.7007 6.65765C10.6974 4.64444 9.39929 5.02948 9.39929 5.02948C8.83425 6.3478 8.79879 7.83312 9.30028 9.17691C8.23331 10.2976 7.64189 11.788 7.65011 13.3353C7.65011 19.298 11.2805 20.6071 14.7348 21.0361C14.3729 21.4102 14.0938 21.8562 13.9156 22.3452C13.7374 22.8342 13.6642 23.3553 13.7007 23.8744V28.1319"
              stroke="currentColor"
              strokeWidth="2.4"
              strokeLinecap="round"
              strokeLinejoin="round"></path>
          </svg>
        </a>
        <a
          href={links.youtube}
          class="flex size-12 items-center justify-center rounded-full border !border-white text-white transition-all hover:bg-white hover:text-black md:size-[60px]"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Youtube className="size-5 md:size-7" />
        </a>
      </div>
    </div>
  </div>
</section>
