---
import ButtonLink from "@/components/ui/button-link.astro";
import { Image } from "astro:assets";
const { card } = Astro.props;
console.log(card);
---

<div
  class="group flex flex-col justify-between rounded-lg border border-paraDark bg-background2 p-5 shadow-sm"
>
  {
    card.launchAppLink || card.docsLink || card.githubLink ? (
      <div class="">
        {card.image && (
          <div>
            {card.logoTitle ? (
              <div class="flex items-center gap-x-4">
                <div class="flex-shrink-0  rounded-lg border border-paraDark bg-background p-3 ">
                  <Image
                    class="  h-6 w-6 object-contain dark:hidden"
                    alt="Feature illustration"
                    width={100}
                    height={100}
                    src={card.image}
                    format="webp"
                  />

                  <Image
                    class="hidden  h-6 w-6 object-contain dark:block"
                    alt="Feature illustration"
                    width={100}
                    height={100}
                    src={card.darkImage ?? card.image}
                    format="webp"
                  />
                </div>

                <p class="text-xl font-bold text-foreground">
                  {card.logoTitle}
                </p>
              </div>
            ) : (
              <div class="overflow-hidden rounded-lg ">
                <Image
                  class="w-full object-cover transition-all duration-300 ease-in-out group-hover:scale-105 "
                  alt="Feature illustration"
                  width={1200}
                  height={1200}
                  src={card.image}
                  format="webp"
                />
              </div>
            )}
          </div>
        )}

        <div class="mt-6 md:mt-8">
          <h3 class="text-2xl font-bold">{card.title}</h3>

          <p
            class={`mt-6 text-sm  font-medium md:mt-5  `}
            set:html={card.description}
          />
        </div>
      </div>
    ) : (
      <a
        class=""
        target={
          card.link
            ? card.link.startsWith("http")
              ? "_blank"
              : "_self"
            : "_self"
        }
        href={card.link ?? "#"}
      >
        {card.image && (
          <div>
            {card.logoTitle ? (
              <div class="flex items-center gap-x-4">
                <div class="flex-shrink-0  rounded-lg border border-paraDark bg-background p-3 ">
                  <Image
                    class="  h-6 w-6 object-contain dark:hidden"
                    alt="Feature illustration"
                    width={100}
                    height={100}
                    src={card.image}
                    format="webp"
                  />

                  <Image
                    class="hidden  h-6 w-6 object-contain dark:block"
                    alt="Feature illustration"
                    width={100}
                    height={100}
                    src={card.darkImage ?? card.image}
                    format="webp"
                  />
                </div>

                <p class="text-xl font-bold text-foreground">
                  {card.logoTitle}
                </p>
              </div>
            ) : (
              <div class="aspect-video overflow-hidden rounded-lg">
                {card.darkImage ? (
                  <>
                    <Image
                      class="hidden w-full  object-cover transition-all duration-300 ease-in-out group-hover:scale-105 dark:block"
                      alt="Feature illustration"
                      width={1200}
                      height={1200}
                      src={card.darkImage}
                      format="webp"
                    />
                    <Image
                      class="w-full  object-cover transition-all duration-300 ease-in-out group-hover:scale-105 dark:hidden"
                      alt="Feature illustration"
                      width={1200}
                      height={1200}
                      src={card.image}
                      format="webp"
                    />
                  </>
                ) : (
                  <Image
                    class="w-full rounded-lg object-cover transition-all duration-300 ease-in-out group-hover:scale-105 "
                    alt="Feature illustration"
                    width={1200}
                    height={1200}
                    src={card.image}
                    format="webp"
                  />
                )}
              </div>
            )}
          </div>
        )}

        <div class="mt-6 md:mt-8">
          <h3 class="text-2xl font-bold">{card.title}</h3>

          <p
            class={`mt-6 text-sm  font-medium md:mt-5  `}
            set:html={card.description}
          />
        </div>
      </a>
    )
  }

  <div class="mt-10 flex flex-wrap items-center gap-2 md:gap-4">
    {
      card.launchAppLink && (
        <ButtonLink
          aria-label={card.launchAppLink.label ?? "Launch App"}
          variant="secondary"
          link={card.launchAppLink.link}
        >
          <svg
            width="17"
            height="17"
            viewBox="0 0 17 17"
            fill="none"
            class="text-para"
            stroke="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6.61719 10.4436L10.3884 6.67236M10.3884 6.67236H7.08859M10.3884 6.67236V9.97222"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M8.5026 15.2244C12.1845 15.2244 15.1693 12.2396 15.1693 8.55778C15.1693 4.87588 12.1845 1.89111 8.5026 1.89111C4.8207 1.89111 1.83594 4.87588 1.83594 8.55778C1.83594 12.2396 4.8207 15.2244 8.5026 15.2244Z"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          {card.launchAppLink.label ?? "Launch App"}
        </ButtonLink>
      )
    }

    {
      card.docsLink && (
        <ButtonLink
          aria-label={card.docsLink.label ?? "Launch App"}
          target={"_blank"}
          variant="secondary"
          link={card.docsLink.link}
        >
          <svg
            width="17"
            height="17"
            viewBox="0 0 17 17"
            fill="none"
            class="text-para"
            stroke="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6.61719 10.4436L10.3884 6.67236M10.3884 6.67236H7.08859M10.3884 6.67236V9.97222"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M8.5026 15.2244C12.1845 15.2244 15.1693 12.2396 15.1693 8.55778C15.1693 4.87588 12.1845 1.89111 8.5026 1.89111C4.8207 1.89111 1.83594 4.87588 1.83594 8.55778C1.83594 12.2396 4.8207 15.2244 8.5026 15.2244Z"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          {card.docsLink.label ?? "View Docs"}
        </ButtonLink>
      )
    }

    {
      card.githubLink && (
        <ButtonLink
          aria-label={"View on GIthub"}
          target={"_blank"}
          variant="secondary"
          link={card.githubLink.link}
        >
          <svg
            width="14"
            height="16"
            stroke="currentColor"
            viewBox="0 0 14 16"
            class="text-para"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5.16667 12.5667C1.83333 13.5667 1.83333 10.9 0.5 10.5667M9.83333 14.5667V11.9867C9.85834 11.6688 9.81539 11.3492 9.70734 11.0492C9.59929 10.7492 9.42862 10.4756 9.20667 10.2467C11.3 10.0134 13.5 9.22002 13.5 5.58002C13.4998 4.64924 13.1418 3.75416 12.5 3.08002C12.8039 2.26569 12.7824 1.36559 12.44 0.56669C12.44 0.56669 11.6533 0.333357 9.83333 1.55336C8.30534 1.13924 6.69466 1.13924 5.16667 1.55336C3.34667 0.333357 2.56 0.56669 2.56 0.56669C2.21758 1.36559 2.1961 2.26569 2.5 3.08002C1.85342 3.75916 1.49502 4.66233 1.5 5.60002C1.5 9.21336 3.7 10.0067 5.79333 10.2667C5.574 10.4933 5.40484 10.7636 5.29687 11.06C5.1889 11.3563 5.14454 11.6721 5.16667 11.9867V14.5667"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          View on GIthub
        </ButtonLink>
      )
    }
  </div>
</div>
