---
import ButtonLink from "@/components/ui/button-link.astro";
import { Image } from "astro:assets";
import { ArrowUpRight } from "lucide-react";
const { card } = Astro.props;
---

<div class="flex flex-col rounded-lg border bg-background2">
  <div class="flex items-center justify-center border-b py-12 md:py-16">
    <Image src={card.image} alt={card.title} class={"h-10 object-contain"} />
  </div>
  <div class="flex flex-1 flex-col gap-2 px-4 py-5 md:gap-4 md:px-5">
    <div class="flex flex-1 flex-col gap-2">
      <h3 class="text-lg font-medium">{card.title}</h3>
      <p class="text-muted-foreground text-sm">{card.description}</p>
    </div>
    <ButtonLink
      link={card.link}
      className=" mt-3 flex w-full gap-2 bg-[#2D2C2C] !py-3"
      variant="secondary"
    >
      {card.button}
      <ArrowUpRight className="h-4 w-4" />
    </ButtonLink>
  </div>
</div>
