---
import { Image } from "astro:assets";
import clsx from "clsx";
interface Props {
  speaker: {
    name: string;
    title: string;
    image: string;
    twitter?: string;
    blured?: boolean;
    index?: number;

    subtitle?: string;
    type?: string;
  };
}

const { speaker } = Astro.props;
---

<div
  class={clsx(
    "flex w-full flex-col gap-5",
    speaker.blured && " blur-sm select-none ",
    speaker?.index && speaker.blured && speaker?.index > 2 && "hidden md:flex",
  )}
>
  <div
    class={clsx(
      "flex aspect-square w-full select-none items-center justify-center rounded-md border bg-white  md:aspect-[16/13]",
      speaker?.type === "image" ? "" : "p-6",
    )}
  >
    <Image
      src={speaker.image}
      alt={speaker.name}
      width={200}
      height={200}
      class={clsx(
        "h-full w-full rounded-md select-none aspect-square md:aspect-[16/13]  ",
        speaker?.type === "image"
          ? "object-cover object-top "
          : "md:p-3 object-contain ",
      )}
    />
  </div>
  <div class="flex flex-col gap-2.5">
    <h1 class="select-none font-bold">{speaker.name}</h1>
    <p class="select-none text-sm">
      {speaker.title}
      <br />
      {speaker?.subtitle ?? "Core team, Akash Network"}
    </p>
    {
      speaker.twitter && (
        <a href={speaker.twitter} target="_blank">
          <svg
            width="20"
            height="21"
            viewBox="0 0 20 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6.99136 4.4624H3.83984L13.6883 17.4624H16.8398L6.99136 4.4624Z"
              stroke="#687076"
              stroke-width="1.5"
              stroke-linejoin="round"
              class="stroke-para"
            />
            <path
              d="M17.3948 4.96691C17.6734 4.66041 17.6508 4.18608 17.3443 3.90745C17.0379 3.62882 16.5635 3.6514 16.2849 3.9579L17.3948 4.96691ZM16.2849 3.9579L11.2849 9.4579L12.3948 10.4669L17.3948 4.96691L16.2849 3.9579Z"
              fill="#687076"
              class="fill-para"
            />
            <path
              d="M8.83984 12.4624L4.33984 17.4624"
              stroke="#687076"
              class="stroke-para"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
      )
    }
  </div>
</div>
