---
import clsx from "clsx";

type Props = {
  icon?: string;
  card: {
    image?: { src: string };
    title: string;
    description: string;
  };
  className?: string;
  autoHeight?: boolean;
};
const { icon, card, className, autoHeight } = Astro.props as Props;
---

<div class={clsx("flex flex-col items-start", className)}>
  <div class="flex flex-col items-start gap-3 md:flex-row">
    <div
      class={"flex-shrink-0 rounded-lg border border-paraDark text-primary bg-background p-2"}
    >
      {
        icon ? (
          <div set:html={icon} />
        ) : card.image ? (
          <svg class="h-6 w-6 " fill="currentColor" viewBox="0 0 24 24">
            <use
              xlink:href={`${card.image.src}#img`}
              href={`${card.image.src}#img`}
            />
          </svg>
        ) : null
      }
    </div>
    <h3
      class={clsx("text-base font-semibold md:text-lg")}
      set:html={card.title}
    />
  </div>

  <div class="md:mt-0">
    <p
      set:html={card.description}
      class="mt-2 flex-shrink-0 text-sm text-para md:mt-4 md:text-base"
    />
  </div>
</div>
