---
import Button from "@/components/ui/button-link.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  heroSection: CollectionEntry<"Homepage">["data"]["heroSection"];
}

const { heroSection } = Astro.props;
---

<section class="container my-10">
  <div class="border-b border-paraDark pb-[80px] pt-10 md:py-[120px]">
    <!-- title  -->

    <h1
      class="mx-auto text-center text-3lg font-medium leading-[52px] md:text-6xl lg:text-7xl lg:leading-[93.6px]"
      set:html={heroSection.title}
    />

    <!-- description -->
    <p
      class="mx-auto mt-[72px] max-w-[862px] text-center text-base leading-[24px] md:mt-6 md:text-xl md:leading-[28px]"
    >
      {heroSection.description}
    </p>
    <!-- buttons -->

    <div
      class="mx-auto mt-20 grid w-fit gap-6 sm:grid-cols-2 md:mt-16 lg:grid-cols-3"
    >
      {
        heroSection.cards.map((card, index) => (
          <div class="flex flex-col gap-2 rounded-lg border bg-background2 p-6 md:rounded-xl">
            <h1 class="font-base font-bold">{card.title}</h1>
            <p class="text-sm ">{card.description}</p>
            <div class="mt-auto flex flex-wrap gap-2 pt-2">
              {card.buttons.map((button, index) => (
                <Button
                  aria-label={button.label}
                  link={button.link}
                  variant={button.type}
                  size="lg"
                >
                  {button.label}
                </Button>
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
