---
import Button from "@/components/ui/button-link.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  heroSection: CollectionEntry<"Homepage">["data"]["heroSection"];
}

const { heroSection } = Astro.props;
---

<section class="container mb-10 md:my-10">
  <div
    class="border-b border-paraDark pb-[80px] pt-10 md:pb-[120px] md:pt-[64px]"
  >
    <h1
      class="mx-auto text-center text-5xl tracking-[-0.88px] md:text-6xl lg:text-[88px]"
      set:html={heroSection.title}
    />

    <p
      class="mx-auto mt-10 max-w-[950px] text-center text-base md:mt-6 md:text-lg"
    >
      {heroSection.description}
    </p>

    <div
      class="mx-auto mt-20 grid w-fit gap-6 sm:grid-cols-2 md:mt-24 lg:grid-cols-3"
    >
      {
        heroSection.cards.map((card) => (
          <div class="flex flex-col gap-2 rounded-lg border bg-background2 p-6 md:rounded-xl">
            <h3 class="font-semibold">{card.title}</h3>
            <p class="text-sm">{card.description}</p>
            <div class="mt-auto flex flex-wrap gap-2 pt-2">
              {card.buttons.map((button) => (
                <Button
                  aria-label={button.label}
                  link={button.link}
                  variant={button.type}
                  size="lg"
                >
                  {button.label}
                </Button>
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
