---
import TryAkashForm from "@/components/home/hero/try-akash-form";
import type { CollectionEntry } from "astro:content";
import clsx from "clsx";
import { ArrowRight, Info } from "lucide-react";

interface Props {
  heroSection: CollectionEntry<"Homepage">["data"]["heroSection"];
}

const { heroSection } = Astro.props;
const pathname = Astro.url.pathname;
---

<section class="container mb-10 md:my-10">
  <div
    class="border-b border-paraDark pb-[80px] pt-10 md:pb-[120px] md:pt-[64px]"
  >
    {
      pathname.includes("meetingconfirmation") && (
        <div class="relative mx-auto mt-10 flex w-fit items-center justify-center gap-2 rounded-lg border !border-primary px-4 py-3 text-sm text-primary">
          <Info className="size-4 shrink-0" />
          Thanks for Booking Your Meeting, We Look Forward to Speaking With You!
        </div>
      )
    }
    <h1
      class={clsx(
        "mx-auto  text-center font-instrument text-6xl font-normal leading-[1] tracking-[-0.88px] lg:text-[94px]",
        pathname.includes("meetingconfirmation") ? "mt-7" : "mt-10",
      )}
      set:html={heroSection.title}
    />

    <p
      class="mx-auto mt-4 text-center text-lg md:text-xl lg:text-2xl"
      set:html={heroSection.description}
    />

    <div class="mt-12 flex flex-col justify-center gap-4">
      <TryAkashForm client:load type="speckToExpert" />
      <div class="flex justify-center">
        <TryAkashForm client:load type="hero" />
      </div>
      <div
        class="mt-8 flex flex-col items-center justify-center gap-5 md:flex-row md:gap-6"
      >
        <a
          href="/providers"
          class="flex items-center gap-1.5 font-medium text-foreground transition-all hover:text-primary"
        >
          Become a GPU provider <ArrowRight className="size-4" />
        </a>
        <div class="hidden h-6 w-px bg-defaultBorder md:block"></div>
        <a
          href="/pricing/gpus"
          class="flex items-center gap-1.5 font-medium text-foreground transition-all hover:text-primary"
        >
          See GPU Availability
          <ArrowRight className="size-4" />
        </a>
      </div>
    </div>

    <!-- <div
      class="mx-auto mt-20 grid w-fit gap-6 sm:grid-cols-2 md:mt-24 lg:grid-cols-3"
    >
      {
        heroSection.cards.map((card) => (
          <div class="flex flex-col gap-2 rounded-lg border bg-background2 p-6 md:rounded-xl">
            <h3 class="font-semibold">{card.title}</h3>
            <p class="text-sm">{card.description}</p>
            <div class="mt-auto flex flex-wrap gap-2 pt-2">
              {card.buttons.map((button) => (
                <Button
                  aria-label={button.label}
                  link={button.link}
                  variant={button.type}
                  size="lg"
                >
                  {button.label}
                </Button>
              ))}
            </div>
          </div>
        ))
      }
    </div> -->
  </div>
</section>
