---
import { type CollectionEntry, getCollection } from "astro:content";

import MobileNav from "@/components/development-pages/mobile-nav-current-groups";
import MobileTableOfContents from "@/components/development-pages/mobile-table-of-contents.tsx";
import NextPrevNav from "@/components/development-pages/next-prev-nav.astro";
import {
  CalenderIcon,
  DiscordIcon,
  GithubIcon,
} from "@/components/header/icons";
import ButtonLink from "@/components/ui/button-link.astro";
import TopMargin from "@/components/ui/top-margin.astro";
import Layout from "@/layouts/layout.astro";
import generateToc from "@/lib/generateToc";
import { proseClasses } from "@/lib/prose-classes";
export async function getStaticPaths() {
  const pages = await getCollection("Development_Current_Groups_Page");

  return pages.map((page) => ({
    params: { slug: page?.slug?.split("/")?.[0] },
    props: page,
  }));
}

type Props = CollectionEntry<"Development_Current_Groups_Page">;

const page = Astro.props;

const { Content, headings } = await page.render();

const pages = await getCollection("Development_Current_Groups_Page");

const nav: any = [];

pages.forEach((item) => {
  let mainLabel = item?.data?.category;

  mainLabel = mainLabel
    .split("-")
    .map((word) => word.charAt(0).toUpperCase() + word.slice(1))
    .join(" ");

  const existingItem = nav.find((navItem: any) => navItem.label === mainLabel);

  if (existingItem) {
    existingItem.subItems.push({
      label: item.data.title,
      link: `/current-groups/${item.slug?.split("/")[0]}/`,
      enabled: true,
    });
  } else {
    nav.push({
      label: mainLabel,
      link: `/current-groups/${item?.slug?.split("/")[0]}/`,
      enabled: true,
      subItems: [
        {
          label: item.data.title,
          link: `/current-groups/${item.slug?.split("/")[0]}/`,
          enabled: true,
        },
      ],
    });
  }
});

nav.forEach((navItem: any) => {
  if (navItem.subItems && navItem.subItems.length > 0) {
    navItem.subItems.forEach((subItem: any) => {
      const slug =
        subItem.link.split("/")[subItem.link.split("/").length - 3] +
        "/" +
        subItem.link.split("/")[subItem.link.split("/").length - 2];
    });
  }
});

function findPrevAndNextPages(nav: any, pathname: any) {
  let allItems: any = [];

  nav.forEach((category: any) => {
    if (category.subItems && category.subItems.length > 0) {
      allItems = allItems.concat(category.subItems);
    }
  });

  const currentIndex = allItems.findIndex(
    (item: any) => item.link === pathname,
  );

  const prevIndex = currentIndex - 1;
  const nextIndex = currentIndex + 1;

  const prevPage = prevIndex >= 0 ? allItems[prevIndex] : null;
  const nextPage = nextIndex < allItems.length ? allItems[nextIndex] : null;

  return { prevPage, nextPage };
}

const pathname = new URL(Astro.request.url).pathname;
---

<Layout title="Development" image="/meta-images/development.png">
  <TopMargin>
    <div class="grid grid-cols-12 gap-x-5">
      <div
        class="sidebar-scroll sticky top-32 hidden h-screen overflow-auto md:col-span-3 md:block"
      >
        <div class="flex flex-col gap-y-3">
          <a
            href="/development/current-groups/"
            class={`flex items-center rounded-lg  py-[6px] text-base font-medium leading-[24px]  gap-x-1 text-para cursor-pointer hover:text-primary`}
          >
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12.7071 5.29289C13.0976 5.68342 13.0976 6.31658 12.7071 6.70711L9.41421 10L12.7071 13.2929C13.0976 13.6834 13.0976 14.3166 12.7071 14.7071C12.3166 15.0976 11.6834 15.0976 11.2929 14.7071L7.29289 10.7071C6.90237 10.3166 6.90237 9.68342 7.29289 9.29289L11.2929 5.29289C11.6834 4.90237 12.3166 4.90237 12.7071 5.29289Z"
                fill="#687076"></path>
            </svg>

            Back
          </a>
          {
            nav?.map((navItem: any) => (
              <div class="flex flex-col gap-y-3">
                <a
                  href={`${navItem.link}${
                    navItem.subItems[0].link.split("/")[3]
                  }/`}
                  class={`
                   
                    border-b  pb-3 pt-[8px] text-base font-medium leading-[24px]  `}
                >
                  {navItem.label}
                </a>

                {navItem.subItems &&
                  navItem.subItems.map((subItem: any) => (
                    <div class="flex flex-col gap-y-3">
                      <a
                        class={`${
                          pathname === subItem.link
                            ? " text-primary"
                            : "text-para"
                        }  ml-3 rounded-lg py-1.5   text-base font-medium leading-[24px] `}
                        href={`${subItem.link}`}
                      >
                        {subItem.label}
                      </a>
                    </div>
                  ))}
              </div>
            ))
          }

          <div
            class="mt-3 flex flex-col justify-center rounded-[8px] border bg-background2 p-4"
          >
            <a
              href={`https://github.com/akash-network/website-revamp/blob/main/src/content/Development_Current_Groups_Page/${page.slug}/README.md`}
              class="inline-flex cursor-pointer items-center justify-center gap-x-2 text-xs font-medium hover:text-primary"
            >
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                class="text-foreground"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M2 14L8 14L14 14"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M8.15049 3.88559L10.0361 1.99997L13.3359 5.2998L11.4503 7.18542M8.15049 3.88559L4.51039 7.52569C4.32285 7.71323 4.21749 7.96758 4.21749 8.2328L4.21749 11.1184L7.10311 11.1184C7.36833 11.1184 7.62268 11.0131 7.81022 10.8255L11.4503 7.18542M8.15049 3.88559L11.4503 7.18542"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
              Edit page on github</a
            >

            <p class="mt-2 text-center text-2xs">
              Last modified on April 18, 2023
            </p>
          </div>
        </div>
      </div>

      <div class={`col-span-12 mx-auto w-full md:pl-10 md:col-span-9 `}>
        <div class="mt-6 flex items-center justify-start gap-x-3 md:hidden">
          <MobileNav
            pageName={Astro.url.pathname
              .split("/")[2]
              .split("-")
              .map((word) => word.charAt(0).toUpperCase() + word.slice(1))
              .join(" ")}
            currentPath={Astro.url.pathname}
            nav={nav}
            client:load
            link={`https://github.com/akash-network/website-revamp/blob/main/src/content/Development_Current_Groups_Page/${page.slug}/README.md`}
          />

          <MobileTableOfContents
            client:load
            toc={generateToc(headings, "Overview")}
            labels={{
              onThisPage: "onThisPage",
            }}
          />
        </div>

        <div class="space-y-10">
          <div class="flex flex-col gap-6 lg:flex-row lg:items-center">
            <ButtonLink
              link={page.data.discordLink}
              size="xl"
              variant="secondary"
            >
              <DiscordIcon className="text-para" />
              View on Discord
            </ButtonLink>
            <ButtonLink
              size="xl"
              variant="secondary"
              link={page.data.githubLink}
            >
              <GithubIcon className="text-para" />
              View on Github
            </ButtonLink>
            <ButtonLink
              link={page.data.meetings.link.link}
              size="xl"
              variant="secondary"
            >
              <CalenderIcon className="text-para" />
              Subscribe to Calendar
            </ButtonLink>
          </div>

          <article class={proseClasses}>
            <Content />
          </article>
        </div>

        <NextPrevNav nav={findPrevAndNextPages(nav, pathname)} />
      </div>
    </div>
  </TopMargin>
</Layout>
