---
import Layout from "@/layouts/layout.astro";
import { Image } from "astro:assets";
import About from "@/components/accelerate/about.astro";
import Speakers from "@/components/accelerate/speakers.astro";
import Show from "@/components/accelerate/show.astro";
import Table from "@/components/accelerate/table.astro";
import BlurTable from "@/components/accelerate/blur-table.astro";
import Tablebottom from "@/components/accelerate/tablebottom.astro";
import Location from "@/components/accelerate/location.astro";
import Footer from "@/components/accelerate/footer.astro";
const speakers = [
  {
    name: "Greg Osuri",
    title: "CEO, Overclock Labs -",
    twitter: "https://twitter.com/gregosuri",
    image: "/images/accelerate/1.png",
  },
  {
    name: "Anil Murty",
    title: "VP of Product, Overclock Labs -",
    twitter: "https://twitter.com/gregosuri",
    image: "/images/accelerate/2.png",
  },
  {
    name: "Cheng Wang",
    title: "CFO, Overclock Labs -",
    twitter: "https://twitter.com/LeChenghiskhan",
    image: "/images/accelerate/3.png",
  },
  {
    name: "Tyler Wright",
    title: "MD, Overclock Labs - ",
    twitter: "https://twitter.com/gregosuri",
    image: "/images/accelerate/4.png",
  },
];
---

<Layout
  title="Akash Accelerate 2024"
  description="Akash Accelerate is a full-day summit that will bring together the entire ecosystem for a packed agenda of talks, panels, and discussions exploring the future of decentralized compute and open-source AI."
  image="/meta-images/acc-2024.png"
>
  <div class="overflow-x-hidden">
    <div>
      <section class="hidden aspect-[16/6] items-center justify-center md:flex">
        <Image
          src="/images/venue.png"
          alt="Akash Accelerate 2024"
          width="1920"
          height="1080"
          class="hidden object-cover md:block"
        />
      </section>
      <section class="flex aspect-[9/15] items-center justify-center md:hidden">
        <Image
          src="/images/venueMobile.png"
          alt="Akash Accelerate 2024"
          width="1920"
          height="1080"
          class="object-contain md:hidden"
        />
      </section>
      <button
        class="w-full bg-primary py-4 text-2xl font-bold text-white md:text-3xl"
      >
        Register Now</button
      >
    </div>
    <div
      class="container flex flex-col items-center justify-center gap-[72px] py-10 md:gap-[120px] md:py-[120px]"
    >
      <div class="flex flex-col items-center justify-center gap-12">
        <About />
        <p class="max-w-4xl text-center text-xl md:text-2xl">
          Akash Accelerate is a full-day summit that will bring together the
          entire ecosystem for a packed agenda of talks, panels, and discussions
          exploring the future of decentralized compute and open-source AI.
        </p>
      </div>
      <div class="flex w-full flex-col items-center justify-center gap-12">
        <Speakers />
        <div class="grid w-full grid-cols-2 gap-5 md:grid-cols-4">
          {
            speakers.map((speaker) => (
              <div class="flex w-full flex-col gap-5">
                <div class="flex aspect-square w-full items-center justify-center  rounded-md border bg-white p-6 md:aspect-[16/10]">
                  <Image
                    src={speaker.image}
                    alt={speaker.name}
                    width="200"
                    height="200"
                    class="h-full w-full rounded-full object-contain md:h-[80%] md:w-[80%]"
                  />
                </div>
                <div class="flex flex-col gap-2.5">
                  <h1 class=" font-bold">{speaker.name}</h1>
                  <p class="text-sm ">
                    {speaker.title} <br />
                    Creators of Akash Network
                  </p>
                  {speaker.twitter && (
                    <a href={speaker.twitter} target="_blank">
                      <svg
                        width="20"
                        height="21"
                        viewBox="0 0 20 21"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M6.99136 4.4624H3.83984L13.6883 17.4624H16.8398L6.99136 4.4624Z"
                          stroke="#687076"
                          stroke-width="1.5"
                          stroke-linejoin="round"
                          class="stroke-para"
                        />
                        <path
                          d="M17.3948 4.96691C17.6734 4.66041 17.6508 4.18608 17.3443 3.90745C17.0379 3.62882 16.5635 3.6514 16.2849 3.9579L17.3948 4.96691ZM16.2849 3.9579L11.2849 9.4579L12.3948 10.4669L17.3948 4.96691L16.2849 3.9579Z"
                          fill="#687076"
                          class="fill-para"
                        />
                        <path
                          d="M8.83984 12.4624L4.33984 17.4624"
                          stroke="#687076"
                          class="stroke-para"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </a>
                  )}
                </div>
              </div>
            ))
          }
        </div>
        <a
          href="https://akashnet.typeform.com/to/bj9Bu7Ax?typeform-source=akash.hooman.digital"
          target="_blank"
          class="rounded-md bg-primary px-8 py-3 text-base font-bold text-white md:py-4 md:text-xl"
          >Interested in speaking? Apply Now!</a
        >
      </div>
      <div class="flex w-full flex-col items-center justify-center gap-12">
        <Show />
        <div class="flex flex-col gap-4">
          <Table />
          <BlurTable />
          <Tablebottom />
        </div>
      </div>
      <div class="flex w-full flex-col items-center justify-center gap-12">
        <Location />
        <div class="flex max-w-[929px] flex-col gap-5">
          <Image
            src="/images/accelerate/location.png"
            alt="Akash Accelerate 2024"
            width="1920"
            height="1080"
            class="w-full rounded-md object-contain"
          />
          <p
            class="text-center text-sm text-primary dark:text-white md:text-base"
          >
            ATELIER 1205, 1205 E Cesar Chavez St., AUSTIN - TEXAS, 78702
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center gap-4 bg-primary py-20">
    <h1 class="container px-6 text-center text-xl font-medium text-white">
      Stay in touch about Akash Accelerate 2024
    </h1>
    <a
      href="https://akashnet.typeform.com/to/awKX5bPw?typeform-source=akash.network"
      target="_blank"
      class="rounded-md bg-white px-8 py-2.5 font-medium text-primary"
    >
      Subscribe Now
    </a>
  </div>

  <Footer />
</Layout>
