---
import PraetorsCard from "@/components/providers-page/praetors-card.astro";
import Layout from "@/layouts/layout.astro";
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import { ArrowUpCircle } from "lucide-react";

const deployPage = await getEntry("Deploy_Homepage", "index");

const {
  resourcesSection,
  heroSection,
  cloudmosResourcesSection,
  additionalDeploymentSection,
} = deployPage.data;
---

<Layout
  title={heroSection.title}
  image={heroSection.heroImage.src}
  description={heroSection.description}
>
  <div class="bg-background py-10 md:py-20">
    <div class="container flex flex-col gap-y-14">
      <div
        class="flex flex-col items-center gap-6 lg:flex-row-reverse lg:justify-between lg:gap-14"
      >
        <div class="w-full flex-shrink lg:max-w-[50%]">
          <Image
            src={heroSection.heroImage}
            alt={`HeroImage`}
            width={1500}
            height={1500}
            format="webp"
            class="w-full rounded-md object-cover"
            loading="eager"
          />
        </div>

        <div class="flex-1">
          <h2
            class="text-2xl font-semibold leading-8 md:text-3lg md:leading-[48px]"
          >
            {heroSection.title}
          </h2>
          <p class="mt-4 text-sm md:mt-5 md:text-base md:leading-[28px]">
            {heroSection.description}
          </p>

          <div
            class="mt-10 flex flex-col items-start gap-x-6 gap-y-3 xl:flex-row"
          >
            <a
              target="_blank"
              href={heroSection.button.link}
              class="inline-flex cursor-pointer items-center justify-center rounded-md border border-primary bg-primary/5 px-4 py-2 text-xs font-medium leading-none text-primary transition-all duration-300 hover:bg-primary hover:text-white dark:border-primary md:px-6 md:text-base"
            >
              <ArrowUpCircle className="mr-2 size-4  rotate-45" />
              {heroSection.button.label}
            </a>
          </div>
        </div>
      </div>
      <div class="h-px w-full bg-defaultBorder"></div>

      <div>
        <h2 class="font-medium">
          {cloudmosResourcesSection.title}
        </h2>

        <div
          class="mt-4 grid grid-cols-1 gap-x-5 gap-y-5 sm:grid-cols-2 lg:grid-cols-3"
        >
          {
            cloudmosResourcesSection.cards.map((card) => (
              <PraetorsCard
                title={card.title}
                description={card.description}
                link={card.link}
                linkIcon
                linkLabel={"View More"}
              />
            ))
          }
        </div>
      </div>
      <div class="h-px w-full bg-defaultBorder"></div>
      <div>
        <h2 class="font-medium">
          {resourcesSection.title}
        </h2>

        <div
          class="mt-4 grid grid-cols-1 gap-x-5 gap-y-5 sm:grid-cols-2 lg:grid-cols-3"
        >
          {
            resourcesSection.cards.map((card) => (
              <PraetorsCard
                title={card.title}
                description={card.description}
                link={card.link}
                linkIcon
                linkLabel={"View More"}
              />
            ))
          }
        </div>
      </div>
      <div class="h-px w-full bg-defaultBorder"></div>
      <div>
        <h2 class="font-medium">
          {additionalDeploymentSection.title}
        </h2>

        <div
          class="mt-4 grid grid-cols-1 gap-x-5 gap-y-5 sm:grid-cols-2 lg:grid-cols-3"
        >
          {
            additionalDeploymentSection.resources.map((resource) => (
              <PraetorsCard
                title={resource.title}
                description={resource.content}
                link={resource.link}
                linkIcon={true}
                linkLabel={"Read More"}
              />
            ))
          }
        </div>
      </div>
    </div>
  </div>
</Layout>
