---
import Layout from "@/layouts/layout.astro";
import Card from "@/components/getting-started-page/card.astro";
import ButtonLink from "@/components/ui/button-link.astro";
import { getEntryBySlug } from "astro:content";
import CommunityCard from "@/components/getting-started-page/community-card.astro";

const gettingStartedPage = await getEntryBySlug(
  "Getting_Started_Homepage",
  "index",
);

const { pageTitle, getStartedSection, communitySection } =
  gettingStartedPage.data;
---

<Layout title="Get Started" description="getting started page">
  <!-- Page Title -->
  <div class="container mb-10 mt-10 md:mt-[100px]">
    <h1
      class="text-2lg font-bold leading-[40px] md:text-[36px] md:leading-[44px] lg:text-3lg lg:leading-[48px]"
    >
      {pageTitle}
    </h1>
  </div>

  <!-- Get Started Cards -->
  <div
    class="container grid grid-cols-1 gap-6 pb-10 sm:grid-cols-2 lg:grid-cols-3"
  >
    {
      getStartedSection.cards.map((card) => (
        <Card
          title={card.title}
          image={card.image.link}
          description={card.description}
          link={card.link}
          linkIcon={card.linkIcon}
          linkLabel={card.linkLabel}
          darkImage={card.darkImage.link}
        />
      ))
    }
  </div>

  <!-- Learn with akash documentation section -->
  <div class="container my-[60px]">
    <div class="border-y py-40">
      <h2
        class="text-center text-[20px] font-bold leading-7 md:text-2lg md:leading-[40px]"
      >
        Learn with Akash Documentation
      </h2>
      <p
        class="mt-4 text-center text-sm font-normal leading-5 md:mt-6 md:text-[18px] md:leading-7"
      >
        Discover comprehensive documentation and resources to make the most of
        the Akash Network's powerful features and services.
      </p>

      <div class="mt-8 flex justify-center">
        <div class="hidden md:block">
          <ButtonLink variant="secondary" size="xl" link={"/akash-docs/docs"}>
            <span class="text-xs md:text-sm lg:text-base">View Akash Docs</span>
          </ButtonLink>
        </div>

        <div class="block md:hidden">
          <ButtonLink link={"/akash-docs/docs"} variant="secondary" size="md">
            <span class="text-xs md:text-sm lg:text-base">View Akash Docs</span>
          </ButtonLink>
        </div>
      </div>
    </div>
  </div>

  <!-- Community Card Section -->
  <div class="container mt-20">
    <h1 class="text-2xl font-bold leading-9 md:text-2lg md:leading-[150%]">
      {communitySection.title}
    </h1>

    <div
      class="mt-5 grid grid-cols-1 gap-6 sm:mt-6 sm:grid-cols-2 md:mt-7 lg:mt-8 lg:grid-cols-3"
    >
      {
        communitySection.cards.map((card) => (
          <CommunityCard
            title={card.title}
            description={card.description}
            badge={card.badge}
            link={card.link}
            linkIcon={card.linkIcon}
            linkLabel={card.linkLabel}
          />
        ))
      }
    </div>
  </div>
</Layout>
