---
import EcosystemSection from "@/components/token-page/ecosystem-section.astro";
import HeroSection from "@/components/token-page/hero-section.astro";
import HowItWorksSection from "@/components/token-page/how-it-works-section.astro";
import Layout from "@/layouts/layout.astro";

import Sections from "@/components/token-page/sections";
import TopMargin from "@/components/ui/top-margin.astro";
import { getEntry } from "astro:content";

const tokenPage = await getEntry("Token_Homepage", "index");

const {
  heroSection,
  howItWorksSection,
  faqsSection,
  ecosystemSection,
  buyingAKTSection,
  aktFeaturesSection,
} = tokenPage.data;
---

<Layout
  title="Akash Token (AKT) - The Currency of Decentralized Cloud"
  description={heroSection?.description}
  image="/meta-images/token.png"
>
  <TopMargin readable>
    <div class="flex flex-col gap-10 md:gap-y-20">
      <HeroSection heroSection={heroSection} />

      <HowItWorksSection howItWorksSection={howItWorksSection} />
      <div class="border-b"></div>
      <EcosystemSection ecosystemSection={ecosystemSection} />

      <div class="border-b"></div>

      <Sections
        client:only
        aktFeaturesSection={aktFeaturesSection}
        buyingAKTSection={buyingAKTSection}
        faqsSection={faqsSection}
      />
    </div>
  </TopMargin>
</Layout>
