---
import EcosystemSection from "@/components/token-page/ecosystem-section.astro";
import HeroSection from "@/components/token-page/hero-section.astro";
import HowItWorksSection from "@/components/token-page/how-it-works-section.astro";
import Layout from "@/layouts/layout.astro";

import BuyAkt from "@/components/token-page/buy-akt.astro";
import BuyingAkt from "@/components/token-page/buying-akt-section";
import { FaqsToken } from "@/components/token-page/faq-section";
import Sections from "@/components/token-page/sections";
import TopMargin from "@/components/ui/top-margin.astro";
import { getEntry } from "astro:content";

const tokenPage = await getEntry("Token_Homepage", "index");

const {
  heroSection,
  buyAktSection,
  howItWorksSection,
  faqsSection,
  ecosystemSection,
  buyingAKTSection,
  aktFeaturesSection,
} = tokenPage.data;

const url = Astro.site;
---

<Layout
  title="Akash Token (AKT) - The Currency of Decentralized Cloud"
  description={heroSection?.description}
  image="/meta-images/token.png"
>
  <TopMargin readable>
    <div class="flex flex-col gap-20 md:gap-y-28">
      <HeroSection heroSection={heroSection} />

      <BuyAkt buyAktSection={buyAktSection} />
      <div class="mx-auto flex-1 lg:max-w-[575px]">
        <img alt="Feature illustration" src={heroSection.image} />
      </div>

      <Sections
        client:only
        aktFeaturesSection={aktFeaturesSection}
        buyingAKTSection={buyingAKTSection}
        faqsSection={faqsSection}
        url={url?.toString() ?? ""}
      />
      <HowItWorksSection howItWorksSection={howItWorksSection} />
      <EcosystemSection ecosystemSection={ecosystemSection} />
      <BuyingAkt buyingAKTSection={buyingAKTSection} />

      <FaqsToken client:only />
    </div>
  </TopMargin>
</Layout>
