---
// Import required assets

import SunIcon from "@/assets/icons/sun.svg";

// Import required components
import Logo from "@/components/ui/logo.astro";
import NavLink from "@/components/header/nav-link.astro";
import { Image } from "astro:assets";
import HamburgerMenu from "./hamburger-menu";
import PopOverNavItem from "./popover-nav-item";
import DarkModeToggle from "../dark-mode-toggle.astro";
import ButtonLink from "../ui/button-link.astro";
import { GithubIcon, TwitterIcon, DiscordIcon } from "./icons";

// Get current pathname
const pathname = `/${Astro.url.pathname.split("/")[1]}`;

interface Props {
  disableSticky?: boolean;
}

const { disableSticky } = Astro.props;

const networkItems = [
  {
    title: "About Akash",
    description: "Discover the story behind Akash and how it works",
    link: "/about/general-information/",
  },
  {
    title: "Akash Stats",
    description:
      "Get insights into the latest statistics about the Akash Network",
    link: "https://stats.akash.network/",
  },
  {
    title: "AKT Token",
    description: "Understand the role of the $AKT token in the Akash ecosystem",
    link: "/token",
  },
];
---

<header
  class={`
${disableSticky ? "" : "sticky top-0 z-[30]"}
 bg-white dark:bg-[#242424]`}
>
  <nav
    class="container mx-auto flex h-[56px] items-center justify-between space-x-2 md:h-[84px]"
    id="page-top"
  >
    <!-- Logo for desktops -->
    <div class="hidden flex-shrink-0 items-center md:flex md:gap-x-6">
      <a href="/">
        <Logo width={128} />
      </a>

      <div
        class="mt-1 hidden lg:flex lg:w-full lg:justify-center lg:gap-x-[20px] xl:gap-x-[24px]"
      >
        <PopOverNavItem client:load subItems={networkItems} />

        <NavLink href="/development/welcome/" currentPath={pathname}>
          Development
        </NavLink>
        <NavLink href="/community/akash-insiders/" currentPath={pathname}>
          Community
        </NavLink>
        <NavLink href="/ecosystem/showcase/latest" currentPath={pathname}>
          Ecosystem
        </NavLink>

        <NavLink href="/blog" currentPath={pathname}>Blog</NavLink>
        <NavLink href="/docs" currentPath={pathname}>Docs</NavLink>
        <NavLink href="/pricing/gpus" currentPath={pathname}>Pricing & Earnings</NavLink>
      </div>
    </div>

    <!-- Logo for mobiles -->
    <div class="block flex-shrink-0 md:hidden">
      <a href="/">
        <Logo width={118} height={24} />
      </a>
    </div>

    <!-- HamburgerMenu -->
    <div class="block overflow-hidden lg:hidden">
      <HamburgerMenu client:load currentPath={pathname} />
    </div>

    <div class="hidden flex-shrink-0 lg:flex lg:gap-x-[12px]">
      <DarkModeToggle nav />

      <div class="mr-3 hidden items-center gap-x-[12px] text-para xl:flex">
        <a
          aria-label="Twitter Icon"
          href="https://twitter.com/akashnet_"
          target="_blank"
          class="hover:text-primary"
        >
          <TwitterIcon />
        </a>
        <a
          aria-label="Github Icon"
          href="https://github.com/akash-network"
          target="_blank"
          class="hover:text-primary"
        >
          <GithubIcon />
        </a>
        <a
          aria-label="Discord Icon"
          href="https://discord.com/invite/akash"
          target="_blank"
          class="hover:text-primary"
        >
          <DiscordIcon />
        </a>
      </div>

      <div class="flex items-center lg:gap-x-4">
        <!-- <div>
          <ButtonLink
            aria-label="Reach Out"
            link="https://akashnet.typeform.com/to/rhR4cWxQ?typeform-source=akash.network"
            variant="secondary"
            target="_blank"
            size="sm"
            className=" rounded-[4px]  px-[11px] py-[7px] text-xs "
          >
            <svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              stroke="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_2801_2947)">
                <path
                  d="M6.11719 9.88588L9.88841 6.11462M9.88841 6.11462H6.58859M9.88841 6.11462V9.41448"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M8.0026 14.6667C11.6845 14.6667 14.6693 11.6819 14.6693 8.00004C14.6693 4.31814 11.6845 1.33337 8.0026 1.33337C4.3207 1.33337 1.33594 4.31814 1.33594 8.00004C1.33594 11.6819 4.3207 14.6667 8.0026 14.6667Z"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </g>
              <defs>
                <clipPath id="clip0_2801_2947">
                  <rect width="16" height="16" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>

             Reach Out
          </ButtonLink>
        </div> -->

        <div>
          <a
            aria-label="Deploy Now"
            target="_blank"
            id="console-header"
            href="https://console.akash.network/"
            class="flex h-full items-center justify-center rounded-[4px] bg-primary px-[10px] py-[7px] text-xs font-medium leading-[16px] text-white hover:bg-darkGray"
          >
            Deploy Now
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
