---
interface Props {
  title: string;
  description?: string;
  image?: string;
  noIndex?: boolean;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
  title,
  description,
  image = "/meta-images/home.png",
  noIndex,
} = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width,initial-scale=1"
/>
<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
<meta name="generator" content={Astro.generator} />

<!-- Preconnect & DNS prefetch for third-party domains -->
<!-- preconnect performs DNS + TCP + TLS handshake ahead of time (stronger hint); -->
<!-- dns-prefetch only resolves DNS but is supported by older browsers as a fallback. -->
<link rel="preconnect" href="https://www.googletagmanager.com" crossorigin />
<link rel="dns-prefetch" href="https://www.googletagmanager.com" />

<link rel="preconnect" href="https://connect.facebook.net" crossorigin />
<link rel="dns-prefetch" href="https://connect.facebook.net" />

<link rel="preconnect" href="https://static.ads-twitter.com" crossorigin />
<link rel="dns-prefetch" href="https://static.ads-twitter.com" />

<link rel="preconnect" href="https://js.hsforms.net" crossorigin />
<link rel="dns-prefetch" href="https://js.hsforms.net" />

<link rel="preconnect" href="https://js.hs-scripts.com" crossorigin />
<link rel="dns-prefetch" href="https://js.hs-scripts.com" />

<!-- HubSpot Form Script - deferred until idle -->
<script is:inline>
  function _loadHubSpotForms() {
    if (window._hubSpotFormsLoaded) return;
    window._hubSpotFormsLoaded = true;
    var s = document.createElement('script');
    s.src = 'https://js.hsforms.net/forms/embed/47519938.js';
    document.head.appendChild(s);
  }
  if ('requestIdleCallback' in window) {
    requestIdleCallback(_loadHubSpotForms);
  } else {
    setTimeout(_loadHubSpotForms, 2000);
  }
</script>

<!-- Font preloads - non-render-blocking -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  rel="preload"
  as="style"
  href="https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap"
  onload="this.rel='stylesheet'"
/>
<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap" /></noscript>
<link
  rel="preload"
  as="style"
  href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
  onload="this.rel='stylesheet'"
/>
<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" /></noscript>

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

{noIndex && <meta name="robots" content="noindex, nofollow" />}

<link
  rel="alternate"
  type="application/rss+xml"
  title="Akash Network Blog"
  href={new URL("blog.xml", Astro.site)}
/>

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<!-- Third-party tracking scripts - deferred until after page load -->
<script is:inline>
  function _loadThirdPartyTrackers() {
    if (window._thirdPartyTrackersLoaded) return;
    window._thirdPartyTrackersLoaded = true;

    // Facebook Pixel
    !(function (f, b, e, v, n, t, s) {
      if (f.fbq) return;
      n = f.fbq = function () {
        n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments);
      };
      if (!f._fbq) f._fbq = n;
      n.push = n;
      n.loaded = !0;
      n.version = "2.0";
      n.queue = [];
      t = b.createElement(e);
      t.async = !0;
      t.src = v;
      s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s);
    })(
      window,
      document,
      "script",
      "https://connect.facebook.net/en_US/fbevents.js"
    );
    fbq("init", "654184647412382");
    fbq("track", "PageView");

    // Twitter conversion tracking
    !(function (e, t, n, s, u, a) {
      e.twq ||
        ((s = e.twq =
          function () {
            s.exe ? s.exe.apply(s, arguments) : s.queue.push(arguments);
          }),
        (s.version = "1.1"),
        (s.queue = []),
        (u = t.createElement(n)),
        (u.async = !0),
        (u.src = "https://static.ads-twitter.com/uwt.js"),
        (a = t.getElementsByTagName(n)[0]),
        a.parentNode.insertBefore(u, a));
    })(window, document, "script");
    twq("config", "o2glx");

    // Google Tag Manager (GTM-WT4KSXNQ)
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
      j.async = true;
      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, "script", "dataLayer", "GTM-WT4KSXNQ");
  }

  if (document.readyState === 'complete') {
    setTimeout(_loadThirdPartyTrackers, 0);
  } else {
    window.addEventListener('load', function() {
      setTimeout(_loadThirdPartyTrackers, 100);
    });
  }
</script>
<noscript>
  <img
    height="1"
    width="1"
    style="display:none"
    src="https://www.facebook.com/tr?id=654184647412382&ev=PageView&noscript=1"
  />
</noscript>
