---
import { shouldHideCta } from "@/utils/hideCta";
import clsx from "clsx";
import ButtonLink from "./ui/button-link.astro";

const pathname = Astro.url.pathname;
const disableMargin = ["/deploy", "/providers"];
const defaultContent = {
  title: "Experience the Supercloud.",
  button: {
    label: "Deploy Now",
    link: "https://console.akash.network/",
    id: "console-home",
  },
};

const pathContent = {
  "/about/providers": {
    title: "Join the Supercloud",
    button: {
      label: "Become a Provider",
      link: "/providers",
      id: "provider-home",
    },
  },
  "/ecosystem/providers": {
    title: "Join the Supercloud Provider Network",
    button: {
      label: "Become a Provider",
      link: "/about/providers/",
      id: "provider-ecosystem",
    },
  },
};

const content = pathname.startsWith("/about/providers")
  ? pathContent["/about/providers"]
  : pathname.startsWith("/ecosystem/providers")
    ? pathContent["/ecosystem/providers"]
    : defaultContent;

const { title, button } = content;

const shouldHide = shouldHideCta(pathname);
---

<section
  class={clsx(
    shouldHide && "hidden",
    "flex flex-col items-center justify-around",
    "bg-white dark:bg-background2",
    "border-y",
    "px-[30px] py-[80px] lg:py-[160px]",
    disableMargin.includes(pathname) ? "mt-0" : "mt-20",
    "text-center",
  )}
>
  <h2
    class={clsx(
      "max-w-[1000px] font-instrument text-foreground",
      "text-3xl md:text-5xl xl:text-6xl 2xl:text-[80px]",
      "md:leading-snug",
    )}
  >
    {title}
  </h2>

  <div class="mt-6 md:mt-10">
    <div class="hidden md:block">
      <ButtonLink
        link={button.link}
        size="xl"
        className="bg-primary text-white hover:bg-darkGray"
        id={button.id}
      >
        {button.label}
      </ButtonLink>
    </div>

    <div class="block md:hidden">
      <ButtonLink
        link={button.link}
        size="md"
        className="bg-primary text-white hover:bg-darkGray"
        id={button.id}
      >
        {button.label}
      </ButtonLink>
    </div>
  </div>
</section>
