---
import ButtonLink from "./ui/button-link.astro";

const pathname = Astro.url.pathname;

let title = "Experience the Supercloud.";
let button = {
  label: "Deploy Now",
  link: "https://console.akash.network/",
  id: "console-home",
};

if (pathname.startsWith("/about/providers")) {
  title = "Join the Supercloud";
  button = {
    label: "Become a Provider",
    link: "/providers",
    id: "provider-home",
  };
}

if (pathname.startsWith("/ecosystem/providers")) {
  title = "Join the Supercloud Provider Network";
  button = {
    label: "Become a Provider",
    link: "/about/providers/",
    id: "provider-ecosystem",
  };
}
---

<section
  class={`
  ${
    pathname.startsWith("/community/") ||
    pathname.startsWith("/pricing/gpus") ||
    pathname === "/akash-accelerate-2024"
      ? "hidden"
      : ""
  }
  mt-10 flex flex-col items-center justify-around bg-[#F4F1EF] px-[30px] py-[80px] text-center dark:bg-background2 md:mt-16 lg:py-[160px]`}
>
  <p
    class="font-instrument max-w-[1000px] text-3xl font-medium text-foreground md:text-5xl md:leading-snug lg:text-6xl"
  >
    {title}
  </p>

  <div class="mt-6 md:mt-10">
    <div class="hidden md:block">
      <ButtonLink
        link={button.link}
        size="xl"
        className="bg-primary text-white hover:bg-darkGray"
        id={button.id}
      >
        {button.label}
      </ButtonLink>
    </div>

    <div class="block md:hidden">
      <ButtonLink
        link={button.link}
        size="md"
        className="bg-primary text-white hover:bg-darkGray"
      >
        {button.label}
      </ButtonLink>
    </div>
  </div>
</section>
