---
import clsx from "clsx";
import type { NavItem } from "@/types/navigation";

const pathname = new URL(Astro.request.url).pathname;

interface Props {
  nav: NavItem[];
  link?: string;
  subNav?: unknown;
}

const { nav, link, subNav } = Astro.props as Props;
---

<div
  class="sticky top-[120px] hidden h-[calc(100vh-120px)] overflow-y-auto pb-10 md:col-span-4 md:block lg:col-span-3"
>
  <div class="flex flex-col gap-y-3">
    {
      nav.map((navItem: NavItem) => (
        <div class="flex flex-col gap-y-3">
          <a
            class={`${
              pathname === navItem.link
                ? "bg-background2 text-primary dark:text-white"
                : "text-para"
            }  rounded-lg px-4 py-[8px] text-base font-medium leading-[24px] hover:bg-background2 hover:text-primary hover:dark:text-white`}
            href={navItem.link}
          >
            {navItem.label}
          </a>

          {navItem.subItems &&
            pathname === navItem.link &&
            navItem.subItems?.map((subItem) => (
              <a
                class={`${
                  pathname === subItem.link
                    ? "bg-background2 text-primary dark:text-white"
                    : "text-para"
                }  ml-3 rounded-lg px-4 py-[6px] text-base font-normal leading-normal   hover:bg-background2 hover:text-primary hover:dark:text-white`}
                href={subItem.link}
              >
                {subItem.label}
              </a>
            ))}
        </div>
      ))
    }
  </div>

  <div
    class="mt-3 flex flex-col justify-center rounded-[8px] border bg-background2 p-4"
  >
    <a
      href={link}
      target="_blank"
      class="inline-flex cursor-pointer items-center gap-x-2 text-xs font-medium hover:text-primary"
    >
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="text-foreground"
        stroke="currentColor"
      >
        <path d="M2 14L8 14L14 14" stroke-linecap="round" stroke-linejoin="round"
        ></path>
        <path
          d="M8.15049 3.88559L10.0361 1.99997L13.3359 5.2998L11.4503 7.18542M8.15049 3.88559L4.51039 7.52569C4.32285 7.71323 4.21749 7.96758 4.21749 8.2328L4.21749 11.1184L7.10311 11.1184C7.36833 11.1184 7.62268 11.0131 7.81022 10.8255L11.4503 7.18542M8.15049 3.88559L11.4503 7.18542"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
      Edit page on github</a
    >

    <p class="mt-2 text-2xs">Last modified on April 18, 2023</p>
  </div>
</div>
