---
import ButtonLink from "../ui/button-link.astro";
const {
  tag,
  title,
  description,
  meetingsLabel,
  meetingslinkLabel,
  meetingsLink,
  githubLink,
  discordLink,
  parentGroup,
  dateLabel,
  slug,
} = Astro.props;
---

<div
  class="not-prose group flex flex-col justify-between rounded-lg border bg-background2 p-5 shadow-sm duration-300 ease-in-out hover:drop-shadow-md"
>
  <a href={`/current-groups/${slug?.split("/")[0]}/`} class="flex-1">
    <span class="flex flex-1 flex-col justify-between">
      <div>
        <p class="text-sm font-medium leading-[20px] text-cardGray">
          {tag}
        </p>
        <h3
          class="mt-2 line-clamp-1 font-bold duration-300 ease-in-out group-hover:text-primary"
        >
          {title}
        </h3>
        <p class="mt-6 line-clamp-4 text-sm font-medium leading-[20px]">
          {description}
        </p>
      </div>

      <div class="mt-[53px] md:mt-[80px]">
        <div class="text-sm font-medium leading-[20px] text-foreground">
          <p class="text-foreground">Meetings:</p>
          <p class="text-[#808080]">{dateLabel}</p>
          <p>{meetingsLabel}</p>
          <a
            href={meetingsLink}
            class="cursor-pointer break-words text-primary underline"
          >
            {meetingslinkLabel}
          </a>
        </div>

        <div
          class="mt-[12px] flex items-center justify-start gap-x-2 text-3xs font-medium leading-none md:mt-5 md:text-[12px]"
        >
          {
            githubLink && (
              <ButtonLink variant="secondary" size="sm" link={githubLink}>
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  stroke="currentColor"
                  class="text-lightForeground"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.6693 14.6852V12.7718C10.6943 12.454 10.6514 12.1344 10.5433 11.8344C10.4353 11.5344 10.2646 11.2608 10.0427 11.0318C12.136 10.7985 14.336 10.0052 14.336 6.36518C14.3358 5.4344 13.9778 4.53931 13.336 3.86518C13.6399 3.05085 13.6184 2.15075 13.276 1.35185C13.276 1.35185 12.4893 1.11851 10.6693 2.33851C9.14133 1.92439 7.53065 1.92439 6.00266 2.33851C4.18266 1.11851 3.39599 1.35185 3.39599 1.35185C3.05357 2.15075 3.03208 3.05085 3.33599 3.86518C2.68941 4.54431 2.331 5.44749 2.33599 6.38518C2.33599 9.99851 4.53599 10.7918 6.62932 11.0518C6.40999 11.2785 6.24083 11.5488 6.13286 11.8451C6.02489 12.1415 5.98053 12.4572 6.00266 12.7718V14.6852"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M6.0026 13.3516C4.0026 14.0004 2.33594 13.3516 1.33594 11.3516"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                Github
              </ButtonLink>
            )
          }
          {
            discordLink && (
              <ButtonLink link={discordLink} variant="secondary" size="sm">
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  stroke="currentColor"
                  class="text-lightForeground"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M3.66406 10.666C6.9974 12.3327 8.9974 12.3327 12.3307 10.666"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M10.3333 11.666L11 12.9993C11 12.9993 13.7809 12.1138 14.6667 10.666C14.6667 9.99935 15.0201 5.23494 12.6667 3.66602C11.6667 2.99935 10 2.66602 10 2.66602L9.33333 3.99935H8"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M5.68229 11.666L5.01563 12.9993C5.01563 12.9993 2.23474 12.1138 1.34896 10.666C1.34896 9.99935 0.995565 5.23494 3.34896 3.66602C4.34896 2.99935 6.01563 2.66602 6.01563 2.66602L6.68229 3.99935H8.01562"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M5.66406 9.33268C5.11178 9.33268 4.66406 8.73573 4.66406 7.99935C4.66406 7.26297 5.11178 6.66602 5.66406 6.66602C6.21635 6.66602 6.66406 7.26297 6.66406 7.99935C6.66406 8.73573 6.21635 9.33268 5.66406 9.33268Z"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M10.3359 9.33268C9.78365 9.33268 9.33594 8.73573 9.33594 7.99935C9.33594 7.26297 9.78365 6.66602 10.3359 6.66602C10.8882 6.66602 11.3359 7.26297 11.3359 7.99935C11.3359 8.73573 10.8882 9.33268 10.3359 9.33268Z"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                Discord
              </ButtonLink>
            )
          }
        </div>
      </div>
    </span>
  </a>
</div>
