---
import FooterLink from "@/components/footer/footer-link.astro";
import { shouldHideCta } from "@/utils/hideCta";
import clsx from "clsx";
import DarkModeToggle from "../dark-mode-toggle.astro";
import {
  DiscordIcon,
  GithubIcon,
  TelegramIcon,
  TwitterIcon,
  YoutubeIcon,
} from "../header/icons";
import SpeakToExpert from "../pricing-page/SpeakToExpert";
import AkashFooterLogo from "../ui/akash-footer-logo.astro";
import FooterYear from "./footer-year";
import SubscribeButton from "./subscribe-button.astro";
const socials = [
  {
    name: "Twitter",
    link: "https://twitter.com/akashnet_",
    icon: TwitterIcon,
  },
  {
    name: "Github",
    link: "https://github.com/akash-network",
    icon: GithubIcon,
  },
  {
    name: "Discord",
    link: "https://discord.com/invite/akash",
    icon: DiscordIcon,
  },
  {
    name: "Youtube",
    link: "https://www.youtube.com/c/AkashNetwork",
    icon: YoutubeIcon,
  },
  {
    name: "Telegram",
    link: "https://t.me/AkashNW",
    icon: TelegramIcon,
  },
];

const links = [
  {
    title: "Products",
    links: [
      {
        title: "Akash Console",
        link: "https://console.akash.network/",
      },
      {
        title: "Praetor App",
        link: "https://praetorapp.com/",
      },
    ],
  },
  {
    title: "Network",
    links: [
      {
        title: "Akash Stats",
        link: "https://stats.akash.network/",
      },
      {
        title: "Akash Ecosystem",
        link: "/ecosystem/akash-tools/latest",
      },
      {
        title: "About Akash",
        link: "/about/general-information/",
      },
      {
        title: "AKT Token",
        link: "/token",
      },
    ],
  },
  {
    title: "Development",
    links: [
      {
        title: "Meetings",
        link: "/current-groups/special-interest-groups/sig-analytics/",
      },
      {
        title: "Product Strategy",
        link: "/development/product-strategy/",
      },
      {
        title: "Community Groups",
        link: "/development/current-groups/",
      },
      {
        title: "Current Projects",
        link: "/development/current-projects/",
      },
    ],
  },
  {
    title: "Community",
    links: [
      {
        title: "Contributions",
        link: "/community/community-contributions/",
      },
      {
        title: "Akash Insiders",
        link: "/community/akash-insiders/",
      },
      {
        title: "Akash Validators",
        link: "/community/akash-validators/",
      },
      {
        title: "Events",
        link: "/community/events",
      },
    ],
  },
  {
    title: "Resources",
    links: [
      {
        title: "Documentation",
        link: "/docs",
      },
      {
        title: "Economics Paper",
        link: "/economics",
      },
      {
        title: "White Paper",
        link: "/whitepaper",
      },
      {
        title: "Blog",
        link: "/blog",
      },
      {
        title: "Support",
        link: "/support",
      },
      {
        title: "Brand & Press",
        link: "/brand/resources/",
      },
      {
        title: "Discussions",
        link: "https://github.com/orgs/akash-network/discussions",
      },
    ],
  },
];

const pathname = Astro.url.pathname;

const shouldHide = shouldHideCta(pathname);
---

<footer
  class={clsx(
    " w-full bg-white px-4 pb-10 md:p-8 xl:p-20 dark:bg-background text-white ",
    shouldHide && "border-t  mt-20",
  )}
>
  <div>
    <div
      class="flex w-full flex-col items-start pb-[50px] pt-[40px] md:pt-[26px] lg:hidden"
    >
      <a href="/" aria-label="Akash Network" class="text-foreground">
        <AkashFooterLogo />
      </a>
      <div class="mt-4 md:hidden">
        <SpeakToExpert size="small" />
      </div>

      <div class="mt-10 flex flex-col items-start justify-start lg:hidden">
        <p class="text-base font-medium leading-[24px] text-foreground">
          Stay up to date with Akash Newsletter
        </p>
        <div class="mt-4">
          <SubscribeButton />
        </div>
      </div>
    </div>

    <div class="justify-between md:mx-auto lg:flex">
      <div
        class="hidden flex-col gap-6 pb-[40px] text-left text-base font-[300] lg:flex"
      >
        <p class="text-foreground">
          <AkashFooterLogo />
        </p>
        <div class="flex gap-x-[24px] font-[300]">
          {
            socials.map((social) => (
              <a
                aria-label={`Akash Network ${social.name}`}
                href={social.link}
                target="_blank"
                class="flex items-center gap-4 text-para hover:text-primary"
              >
                <social.icon />
              </a>
            ))
          }
        </div>
        <SpeakToExpert size="small" />
      </div>
      <div
        class="grid grid-cols-3 justify-between gap-y-10 md:grid-cols-5 md:gap-x-[30px] lg:gap-x-7 xl:gap-x-10"
      >
        {
          links.map((link) => (
            <div>
              <p class="text-xs font-medium text-foreground md:text-sm">
                {link.title}
              </p>
              {link.links.map((item) => (
                <FooterLink aria-label={item.title} link={item.link}>
                  {item.title}
                </FooterLink>
              ))}
            </div>
          ))
        }
      </div>
    </div>
  </div>
  <div class="my-[40px] flex flex-col gap-4 lg:hidden">
    <div class="flex gap-x-6 font-[300] text-para">
      {
        socials.map((social) => (
          <a
            aria-label={`Akash Network ${social.name}`}
            href={social.link}
            target="_blank"
            class="flex items-center gap-4 text-para hover:text-primary"
          >
            <social.icon />
          </a>
        ))
      }
    </div>
  </div>

  <div class="mt-20 hidden items-center justify-between border-y py-5 lg:flex">
    <p class="text-xl font-medium leading-[30px] text-foreground">
      Stay up to date with Akash Newsletter
    </p>
    <SubscribeButton />
  </div>

  <div
    class="relative flex flex-col text-center md:pt-4 lg:flex-row lg:pt-[32px]"
  >
    <div
      class="flex w-full flex-col items-start justify-start gap-y-[16px] lg:flex-row lg:items-center"
    >
      <p class="text-left text-2xs text-para lg:border-r lg:pr-[16px]">
        © Akash Network <FooterYear client:load />
        The Akash Network Authors Documentation Distributed under CC BY 4.0
      </p>
      <div class="flex">
        <p class="border-r pr-[8px] text-2xs text-para lg:px-[16px]">
          <a
            aria-label="Open-source Apache 2.0 Licensed."
            class="text-decoration-none"
            target="_blank"
            href="https://github.com/akash-network"
          >
            Open-source Apache 2.0 Licensed.
          </a>
        </p>
        <p class="border-r px-[8px] text-2xs text-para lg:px-[16px]">
          <a
            aria-label="GitHub v0.20.0"
            class="text-decoration-none"
            target="_blank"
            href="https://github.com/akash-network/node"
          >
            GitHub v0.20.0
          </a>
        </p>

        <p class="pl-[8px] text-2xs text-para lg:pl-[16px]">
          <a
            aria-label="Privacy"
            class="text-decoration-none"
            target="_blank"
            href="/privacy"
          >
            Privacy
          </a>
        </p>
      </div>
    </div>
    <div class="hidden lg:block">
      <DarkModeToggle footer />
    </div>
  </div>
  <div
    class="flex flex-col items-center gap-10 pt-[32px] text-cardGray dark:text-textGray"
  >
    <div class="grid w-full grid-cols-3 items-center justify-between">
      <p></p>
      <a
        aria-label="Back To Top"
        class="text-center text-[12px] font-[700] text-foreground lg:hidden"
        href="#">Back To Top</a
      >
      <div class="ml-auto lg:hidden">
        <DarkModeToggle />
      </div>
    </div>
  </div>
</footer>
