---
import CTA from "@/components/CTA.astro";
import Footer from "@/components/footer/footer.astro";
import Header from "@/components/header/header.astro";
import "@/styles/globals.css";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import BaseLayout from "./base-layout.astro";
import FormattedDate from "@/components/formatted-date.astro";
import { Image } from "astro:assets";

type BitsPost = CollectionEntry<"Bits">;

interface Props {
  title: string;
  description?: string;
  image?: string;
  relatedPosts?: BitsPost[];
}

const { title, description, image } = Astro.props;

const slug = Astro.url.pathname.split("/")[2];

const relatedPosts = (
  await getCollection("Bits")
    .then((posts) => posts.filter((p) => !p.data.draft && p.slug !== slug))
    .then((posts) =>
      posts.sort(
        (a, b) =>
          new Date(b.data.pubDate).getTime() -
          new Date(a.data.pubDate).getTime(),
      ),
    )
).slice(0, 3);
---

<BaseLayout title={title} description={description} image={image}>
  <Header />

  <main class="mx-auto mt-[24px] max-w-[1100px] px-4 md:mt-[72px]">
    <slot />
  </main>

  {
    relatedPosts.length > 0 && (
      <div class="mx-auto max-w-[1100px] px-4 md:mt-32">
        <h2 class="text-xl font-medium md:text-2xl">More from Bits</h2>

        <div class="mt-4 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
          {relatedPosts.map((post: BitsPost) => (
            <a href={`/bits/${post.slug}`} class="flex cursor-pointer">
              <div class="group flex flex-col duration-100 ease-in">
                <div class="aspect-video overflow-hidden rounded-lg bg-badgeColor">
                  {post.data.bannerImage ? (
                    <Image
                      src={post.data.bannerImage}
                      alt={`Banner image for ${post.data.title}`}
                      width={600}
                      height={600}
                      format="webp"
                      class="h-full w-full object-cover transition-all duration-500 ease-in-out group-hover:scale-105"
                      loading="lazy"
                    />
                  ) : (
                    <div class="h-full w-full bg-gradient-to-br from-primary/20 to-badgeColor" />
                  )}
                </div>
                <div class="mt-3">
                  <p class="text-xs font-medium text-linkText">
                    By {post.data.author}
                  </p>
                  <h3 class="mt-1 line-clamp-2 text-sm font-semibold md:text-base">
                    {post.data.title}
                  </h3>
                  <p class="mt-1 text-xs text-linkText">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                </div>
              </div>
            </a>
          ))}
        </div>
      </div>
    )
  }

  <div class="mt-32">
    <CTA />
    <Footer />
  </div>
</BaseLayout>
