---
import "@/styles/globals.css";

import CTA from "@/components/CTA.astro";
import Footer from "@/components/footer/footer.astro";
import Header from "@/components/header/header.astro";
import { getEntry } from "astro:content";

import clsx from "clsx";
import BaseLayout from "./base-layout.astro";

interface Props {
  title: string;
  description?: string;
  image?: string;
}

const homepage = await getEntry("Homepage", "index");

const { advert } = homepage.data;

const { title, description, image } = Astro.props;
const pathname = Astro.url.pathname;
---

<BaseLayout title={title} description={description} image={image}>
  {
    advert && !pathname.includes("neurips") && (
      <div class="flex items-center justify-center bg-primary px-3 py-2">
        <a
          id="advert-to-gpus"
          href={advert?.link}
          target={
            advert?.link.startsWith("/") || advert?.link.startsWith("#")
              ? "_self"
              : "_blank"
          }
        >
          <p class="text-center text-sm font-semibold text-white underline">
            {advert?.title}
          </p>
        </a>
      </div>
    )
  }

  <Header />

  <main>
    <slot />
  </main>

  <div
    class={clsx(
      "mt-20",
      pathname.includes("akash-accelerate-2024") ? "hidden" : "block",
    )}
  >
    <CTA />
    <Footer />
  </div>
</BaseLayout>
